@charset "UTF-8";
@font-face {
    font-family: 'KoHo';
    src: url("../docs/font/KoHo/KoHo-Regular.ttf") format("truetype");
}
  
@font-face {
    font-family: 'KoHo';
    font-weight: bold;
    src: url("../docs/font/KoHo/KoHo-Bold.ttf") format("truetype");
}
  
@font-face {
    font-family: 'KoHo';
    font-weight: 600;
    src: url("../docs/font/KoHo/KoHo-SemiBold.ttf") format("truetype");
}
  
@font-face {
    font-family: 'KoHo';
    font-style: italic;
    src: url("../docs/font/KoHo/KoHo-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Adam";
    src: url("../docs/font/Adam/ADAM.CG\ PRO.otf");
}


$color-dark: #121212;
$color-dark-light: #1E1E1E;
$color-light: #F9F9F9;
$color-text: rgb(236, 236, 236);
$color-hover-nav: #000000;
$color-second: #4285F4;
$color-third: #DB4437;
$color-grey: whitesmoke;
$color-success: #26FF26;
$color-error: #FF2646;


* {
    font-family: "KoHo", Arial;
    margin: 0;
    padding: 0;
    word-break: break-word;
}

h1 {
    font-family: "KoHo", "Adam";
    font-weight: bold;;
    font-size: 21.5px;
}

body {
    background-color: #121212;
}


#page-identification {
    width: 100%;
    height: 100%;
    //choix chambres
    .pan-chambres, .pan-forces {
        height: 300px;
        padding: 30px;
        background-color: $color-dark-light;
        border-radius: 5px 5px 5px 5px;
        #logo-ca, #logo-cma, #logo-cci, #logo-gendarmerie, #logo-police {
            display: inline-block;
            background-color: $color-text;
            padding: 10px;
            border-radius: 5px 5px 5px 5px;
            transition: 1s all ease;
            &:hover {
                transition: 0.5s all ease;
                background-color: $color-second;
            }
            img {
                width: 175px;
                height: 175px;
            }
        }
        #logo-gendarmerie {
            margin-left: 10px;
        }
        h1 {
            color: $color-text;
            margin-left: 25px;
            margin-bottom: 45px;
            padding-bottom: 5px;
            border-bottom: 5px solid $color-second;
            text-transform: uppercase;
        }
    }
    .pan-chambres {
        position: absolute;
        left: 9%;
        top: 25%;
        h1 {
            width: 262px;
        }
    }
    .pan-forces {
        position: absolute;
        left: 60%;
        top: 25%;
        h1 {
            width: 355px;
        }
    }

    // identification
    #pan-identification {
        width: 300px;
        height: 510px;
        background-color: $color-dark-light;
        margin: auto;
        margin-top: 5%;
        border-radius: 5px 5px 5px 5px;
        text-align: center;
        padding: 50px;
        
        #logo-choisi {
            background-color: $color-text;
            margin: auto;
            margin-bottom: 40px;
            margin-top: 15px;
            width: 60%;
            padding: 20px;
            border-radius: 50%;
            transition: 1s all ease;
            img {
                width: 175px;
                height: 175px;
            }
            &:hover {
                transition: 0.5s all ease;
                background-color: $color-second;
            }
        }
        p {
            font-family: "KoHo";
            font-weight: 600;
            text-align: left;
            color: $color-text;
        }
        [name='mdp'], [name='id'] {
            width: 100%;
            height: 10px;
            font-size: 16px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 22px;
            border: 0px;
            border-bottom: 2px solid $color-text;
            background-color: transparent;
            color: $color-text;
            &:focus {
                outline: 0;
            }
        }
        .bouton-id  {
            width: 100%;
            height: 40px;
            padding: 10px;
            background-color: $color-second;
            color: $color-text;
            border: 0px;
            border-radius: 2px;
            margin-top: 5px;
            cursor: pointer;
        }
        [value="valider"] {
            &:hover {
                background-color: $color-text;
                color: $color-dark-light;
                transition: 0.5s ease;
            }
        }
        [value="retour"] {
            background-color: transparent;
        }
        #login-failed {
            color: $color-error;
            margin: auto;
            font-size: 14px;
            text-align: center;
            margin-bottom: 10px;
        }
    }

    [value="retour"], [value="Administrateur"] {
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;
        background-color: $color-second;
        border: none;
        color: $color-text;
        border-radius: 2px;
        &:hover {
            background-color: $color-text;
            color: $color-dark-light;
            transition: 0.5s ease;
        }
    }

    #pan-connexion-admin {
        width: 350px;
        background-color: $color-dark-light;
        margin: auto;
        margin-top: 3%;
        border-radius: 5px 5px 5px 5px;
        text-align: center;
        padding: 65px;
        padding-bottom: 50px;
        color: $color-text;
        display: flex;
        flex-direction: column;
        transition: 1.5s all ease;
    }

    #pan-ajout-gestionnaire {
        width: 350px;
        background-color: $color-dark-light;
        margin: auto;
        margin-top: 3%;
        border-radius: 5px 5px 5px 5px;
        text-align: center;
        padding: 65px;
        padding-bottom: 50px;
        color: $color-text;
        display: flex;
        flex-direction: column;
        transition: 1.5s all ease;
        h1 {
            margin-top: -30px;
        }
        [name="select-chambre"] {
            padding: 6px;
            font-size: 15px;
            margin-top: 35px;
            cursor: pointer;
            border-radius: 3px;
            // appearance: none;
        }
        .identifiants {
            font-size: 17px;
            font-weight: 600;
            text-align: left;
            margin-top: 22px;
            text-transform: uppercase;
        }
        .input-new-gestionnaire {
            padding: 5px;
            margin-top: 5px;
            font-size: 16px;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid $color-light;
            color: $color-text;
            outline: none;
        }
        .bouton-id {
            width: 100%;
            height: 40px;
            padding: 10px;
            background-color: $color-second;
            color: $color-text;
            border: none;
            border-radius: 2px;
            margin-top: 25px;
            cursor: pointer;
            &:hover {
                background-color: $color-text;
                color: $color-dark-light;
                transition: 0.5s ease;
            }
        }
        #ajout-success, #ajout-failed, #ajout-mdp-different, #ajout-id-existant {
            font-size: 14px;
            color: $color-error;
            margin-top: 10px;
        }
        #ajout-success {
            color: $color-success;
        }

    }
}

#nav-gauche {
    height: 100%;
    width: 230px;
    background-color: $color-dark-light;
    display: block;
    text-align: left;
    color: $color-text;
    position: absolute;
    border-right: 1px $color-dark;
    .onglet-profil {
        width: 80%;
        height: 35px;
        margin: 15px;
        padding: 5px;
        background-color: $color-second;
        border-radius: 2px;
        &:hover {
            filter: brightness(115%);
            transition: 0.4s ease;
        }
        span {
            font-weight: 600;
            font-size: 20px;
            padding-left: 15%;
            &:hover {
                cursor: pointer;
            }
        }
        img {
            margin-left: 25%;
            padding-top: 5px;
            width: 20px;
            height: 20px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .new-annonce, .new-conseil {
        width: 100%;
        height: 35px;
        font-size: 16px;
        margin-bottom: 2px;
        background-color: transparent;
        border: none;
        color: $color-light;
        text-align: left;
        padding-left: 32px;
        &:hover {
            transition: 0.5s all ease;
            background-color: $color-second;
            cursor: pointer;
        }
    }
    .new-conseil {
        margin-bottom: 15px;
    }
    .onglets, .onglet-selected {
        width: 80%;
        height: 30px;
        padding-left: 20%;
        padding-top: 8%;
        padding-bottom: 5%;
        &:hover {
            transition: 0.5s all ease;
            background-color: $color-hover-nav;
            cursor: pointer;
        }
        & .number-msg {
            position: absolute;
            left: 80%;
            margin-top: -10%;
        }
    }
    .onglet-selected {
        border-left: 4px solid $color-second;
    }
    .nb-connexions {
        font-size: 13px;
        top: 68%;
        margin-left: 15%;
        position: absolute;
    }
    .logo {
        margin-left: 15%;
        top: 72%;
        position: absolute;
        background-color: $color-text;
        border-radius: 2px;
        &:hover {
            transition: 0.5s all ease;
            background-color: $color-second;
        }
    }
}

#pan-profil {
    position: absolute;
    background-color: $color-light;
    top: 0;
    bottom: 0;
    right: 0;
    left: 231px;
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
    h1 {
        position: absolute;
        left: 42%;
        text-transform: uppercase;
        padding-bottom: 5px;
        border-bottom: 5px solid $color-second;
    }
    #pan-profil-interieur {
        width: 100%;
        height: 85%;
        background-color: $color-dark-light;
        border-radius: 2px;
        margin-top: 6.5%;
        color: $color-text;
        font-size: 19px;
        .img-profil {
            margin-left: 15%;
            padding-top: 2.5%;
            img {
                width: 17%;
                height: 17%;
                border-radius: 50%;
                border: 5px solid whitesmoke;
            }
        }
        .nom, .prenom {
            font-weight: 600;
            position: absolute;
            display: block;
            margin-bottom: 10px;
        }
        .nom {
            font-size: 30px;
            left: 38%;
            top: 24%;
        }
        .prenom {
            font-size: 26px;
            left: 38%;
            top: 32%;
        }
        .zone-infos {
            width: 27%;
            position: absolute;
            left: 12%;
            .infos-user {
                margin-top: 2%;
            }
            .input-infos {
                width: 100%;
                height: 23px;
                margin-top: 5px;
                padding: 5px;   
                font-size: 17px;
            }
        }
        .zone-mdp {
            width: 27%;
            position: absolute;
            left: 45%;
            .mdp-user {
                margin-top: 2%;
            }
            .input-mdp {
                width: 100%;
                height: 23px;
                margin-top: 5px;
                padding: 5px;   
                font-size: 17px;
            }
        }
        .required-input {
            width: 15px;
            height: 15px;
            position: absolute;
            left: 57%;
            top: 6.5%;
        }
        [type="submit"] {
            width: 130px;
            height: 40px;
            position: absolute;
            left: 45%;
            top: 82%;
            border: none;
            font-size: 16px;
            background-color: $color-second;
            color: $color-light;
            border-radius: 2px;
            &:hover {
                transition: 0.5s ease;
                background-color: $color-light;
                color: $color-dark-light;
                cursor: pointer;
            }
        }
        #success, #error {
            font-size: 15px;
            position: absolute;
            left: 12%;
            top: 82%;
        }
        #success {
            color: $color-success;
        }
        #error {
            color: $color-error;
        }
    }
}

#pan-content {
    position: absolute;
    background-color: $color-light;
    top: 0;
    bottom: 0;
    right: 0;
    left: 230px;
    overflow: hidden;
    #barre-refresh {
        width: 260px;
        height: 35px;
        background-color: $color-grey;
        position: absolute;
        top: -1px;
        border-bottom: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
        img {
            width: 15px;
            height: 15px;
            position: absolute;
            margin-top: 10px;
            margin-left: 15%;
            &:hover {
                filter: brightness(50%);
                transition: 0.4s ease;
                cursor: pointer;
            }
        }
        em {
            position: absolute;
            margin-left: 85px;
            padding-top: 6px;
            font-weight: 600;
            font-style: normal;
            color: $color-second;
            cursor: pointer;
            &:hover {
                filter: brightness(50%);
                transition: 0.4s ease;
                cursor: pointer;
            }
        }
    }
    #liste-onglets {
        width: 260px;
        position: absolute;
        bottom: 0;
        top: 35px;
        border-right: 1px solid lightgrey;
        background-color: $color-grey;
        overflow: hidden;
        overflow-y: auto;
        .onglet-msg-selected, .onglet-msg, .onglet-non-lu {
            height: 75px;
            width: 100%;
            background-color: whitesmoke;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid lightgrey;
            &:hover {
                filter: brightness(80%);
                transition: 0.4s ease;
                cursor: pointer;
            }
            #date-reception {
                font-size: 12px;
                position: absolute;
                margin-left: 170px;
                margin-top: 14px;
            }
            h9, h10 {
                position: absolute;
                margin-left: 22px;
            }
            h9 {
                font-size: 15px;
                font-weight: bold;
                color: $color-second;
                margin-top: 12px;
            }
            h10 {
                font-size: 14px;
                margin-top: 40px;
            }
        }
        .onglet-msg-selected {
            background-color: $color-second;
            h9, h10, #date-reception {
                color: $color-text;
            }
        }
        .onglet-non-lu {
            &::after {
                content: "";
                position: absolute;
                height: 75px;
                background-color: $color-second;
                width: 4px;

            }
        }
    }
    #barre-actions {
        height: 50px;
        position: absolute;
        top: 0;
        right: 0;
        left: 261px;
        border-bottom: 1px solid lightgrey;
        [type="button"] {
            width: 115px;
            height: 35px;
            margin-top: 7.5px;
            margin-left: 50px;
            background-color: $color-second;
            color: $color-text;
            border: none;
            border-radius: 2px;
            &:hover {
                filter: brightness(115%);
                transition: 0.4s ease;
                cursor: pointer;
            }
        }
    }
    #pan-demande {
        position: absolute;
        right: 0;
        top: 51px;
        left: 261px;
        bottom: 0;
        padding: 20px;
        padding-left: 35px;
        padding-right: 35px;
        background-color: whitesmoke;
        fieldset {
            border: none;
            #date-demande {
                font-size: 13px;
                color: grey;
                position: absolute;
                right: 50px;
                top: 20px;
            }
            legend {
                font-weight: bold;
                color: $color-second;
                border-bottom: 2px solid $color-second;
            }
            em {
                font-weight: 600;
                color: $color-second;
                cursor: pointer;
            }
            #cle {
                font-size: 25px;
                font-weight: 600;
            }
        }
    }
    // nouveau conseil
    #barre-envoi {
        height: 50px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        border-bottom: 1px solid lightgray;
        .btn-new-annonce-conseil {
            width: 115px;
            height: 35px;
            margin-top: 7.5px;
            margin-left: 50px;
            background-color: $color-second;
            color: $color-text;
            border: none;
            border-radius: 2px;
            &:hover {
                filter: brightness(115%);
                transition: 0.4s ease;
                cursor: pointer;
            }
        }
    }
    #objet-new-conseil {
        height: 65px;
        position: absolute;
        top: 51px;
        right: 0;
        left: 0;
        padding: 15px;
        padding-left: 35px;
        padding-right: 35px;
        border-bottom: 1px solid lightgray;
        fieldset {
            border: none;
            legend {
                font-weight: bold;
                font-size: 22px;
                color: $color-second;
                border-bottom: 2px solid $color-second;
            }
            [name='input-objet-conseil'] {
                width: 80%;
                height: 25px;
                padding: 0.5%;
                padding-top: 2.5px;
                padding-bottom: 2.5px;
                font-size: 17px;
                position: absolute;
                top: 15px;
                left: 115px;
            }
            .user-concernes {
                font-size: 14px;
                color: gray;
                margin-top: 10px;
            }
        }
    }
    #write-conseil {
        width: 93%;
        min-width: 50%;
        padding: 3%;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 15px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 147px;
        border: none;
        resize: none;
        overflow-y: auto;
        outline: 0;
    }
    // nouvelle annonce
    #zone-saisie-annonce {
        height: 285px;
        position: absolute;
        top: 51px;
        right: 0;
        left: 0;
        padding: 15px;
        padding-left: 35px;
        padding-right: 35px;
        border-bottom: 1px solid lightgray;
        background-color: white;
        #carteHG {
            width: 225px;
            height: 225px;
            position: absolute;
            right: 10%;
            top: 25px;
        }
        fieldset {
            border: none;
            legend {
                font-weight: bold;
                font-size: 20px;
                color: $color-second;
                border-bottom: 2px solid $color-second;
                margin-bottom: 15px;
            }
            .champs-annonce {
                margin-top: 8px;
            }
            .rechercheActivite, .rechercheCommune, .select-zone {
                height: 22px;
                width: 15%;
                padding: 2.5px;
                padding-left: 5px;
                padding-right: 5px;
                margin-right: 1%;
            }
            #align-activite {
                font-weight: bold;
                margin-right: 15px;
            }
            #align-commune {
                font-weight: bold;
                margin-right: 6px;
            }
            #align-zone {
                font-weight: bold;
                margin-right: 42px;
            }
            .select-zone {
                height: 30px;
                width: 16%;
            }
            .select-all, [name="mail"] {
                width: 15px;
                height: 15px;
                position: absolute;
                left: 25%;
                margin-top: 5px;
            }
            [type="checkbox"] {
                cursor: pointer;
            }
        }
    }
    #objet-new-annonce {
        height: 30px;
        position: absolute;
        left: 0;
        right: 0;
        top: 367px;
        padding-top: 10px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 25px;
        border-bottom: 1px solid lightgray;
        fieldset {
            border: none;
            legend {
                font-weight: bold;
                font-size: 20px;
                color: $color-second;
                border-bottom: 2px solid $color-second;
            }
            [name='input-objet-annonce'] {
                width: 80%;
                height: 25px;
                padding: 0.5%;
                padding-top: 2.5px;
                padding-bottom: 2.5px;
                font-size: 17px;
                position: absolute;
                top: 15px;
                left: 115px;
            }
        }
    }
    #write-annonce {
        width: 95%;
        padding: 2%;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 15px;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: 434px;
        border: none;
        resize: none;
        overflow-y: auto;
        outline: 0;
    }

}

#zone-annonce-conseil {
    height: 65px;
    position: absolute;
    background-color: $color-light;
    top: 51px;
    bottom: 0;
    right: 0;
    left: 261px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-bottom: 1px solid lightgray;
    fieldset {
        border: none;
        #date-msg {
            font-size: 13px;
            color: grey;
            position: absolute;
            right: 50px;
            top: 20px;
        }
        legend {
            font-weight: bold;
            font-size: 22px;
            color: $color-second;
            border-bottom: 2px solid $color-second;
        }
        .user-concernes {
            font-size: 14px;
            color: gray;
            margin-top: 10px;
        }
    }
}

#affichage-texte {
    position: absolute;
    top: 147px;
    bottom: 0;
    left: 261px;
    right: 0;
    padding-top: 15px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 30px;
    overflow: auto;
}

#zone-msg {
    position: absolute;
    top: 51px;
    bottom: 0;
    left: 261px;
    right: 0;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;

    #zone-infos-prive {
        height: 165px;
        position: absolute;
        background-color: $color-light;
        top: 0px;
        bottom: 0;
        right: 0;
        left: 0;
        padding-top: 7px;
        padding-bottom: 15px;
        padding-left: 35px;
        padding-right: 35px;
        border-bottom: 1px solid lightgray;
        fieldset {
            border: none;
        }
        legend {
            font-weight: bold;
            font-size: 22px;
            color: $color-second;
            border-bottom: 2px solid $color-second;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 5px;
        }
    }
    
    #zone-discussion {
        position: absolute;
        top: 188px;
        bottom: 120px;
        left: 0;
        right: 0;
        padding: 20px;
        padding-left: 35px;
        padding-right: 35px;
        overflow: auto;
        .msg-force, .msg-user {
            display: flex;
            flex-direction: column;
            padding: 25px;
            max-width: 50%;
            margin-bottom: 15px;
            border-radius: 5px;
            color: $color-text;
        }
        .msg-user {
            background-color: $color-third;
        }
        .msg-force {
            background-color: $color-second;
            margin-left: 45%;
        }
    }

    #zone-reponse {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 110px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid lightgrey;
        z-index: 10;
        fieldset {
            border: none;
            legend {
                font-weight: bold;
                font-size: 15px;
                color: $color-second;
                margin-bottom: 5px;
            }
        }
        #reponse-msg {
            width: 89.5%;
            height: 75px;
            resize: none;
            font-size: 16px;
            padding: 2px;
            padding-left: 5px;
            padding-left: 5px;
        }
        [name="envoyer-msg"] {
            width: 10%;
            height: 45px;
            position: absolute;
            right: 2px;
            margin-left: 3px;
            background-color: $color-second;
            color: $color-text;
            border: none;
            &:hover {
                filter: brightness(120%);
                cursor: pointer;
                transition: 0.4s ease;
            }
        }
        
    }
}

