@font-face {
  font-family: 'KoHo';
  src: url("../docs/font/KoHo/KoHo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'KoHo';
  font-weight: bold;
  src: url("../docs/font/KoHo/KoHo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'KoHo';
  font-weight: 600;
  src: url("../docs/font/KoHo/KoHo-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'KoHo';
  font-style: italic;
  src: url("../docs/font/KoHo/KoHo-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Adam";
  src: url("../docs/font/Adam/ADAM.CG PRO.otf");
}

* {
  font-family: "KoHo", Arial;
  margin: 0;
  padding: 0;
  word-break: break-word;
}

h1 {
  font-family: "KoHo", "Adam";
  font-weight: bold;
  font-size: 21.5px;
}

body {
  background-color: #121212;
}

#page-identification {
  width: 100%;
  height: 100%;
}

#page-identification .pan-chambres, #page-identification .pan-forces {
  height: 300px;
  padding: 30px;
  background-color: #1E1E1E;
  border-radius: 5px 5px 5px 5px;
}

#page-identification .pan-chambres #logo-ca, #page-identification .pan-chambres #logo-cma, #page-identification .pan-chambres #logo-cci, #page-identification .pan-chambres #logo-gendarmerie, #page-identification .pan-chambres #logo-police, #page-identification .pan-forces #logo-ca, #page-identification .pan-forces #logo-cma, #page-identification .pan-forces #logo-cci, #page-identification .pan-forces #logo-gendarmerie, #page-identification .pan-forces #logo-police {
  display: inline-block;
  background-color: #ececec;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
}

#page-identification .pan-chambres #logo-ca:hover, #page-identification .pan-chambres #logo-cma:hover, #page-identification .pan-chambres #logo-cci:hover, #page-identification .pan-chambres #logo-gendarmerie:hover, #page-identification .pan-chambres #logo-police:hover, #page-identification .pan-forces #logo-ca:hover, #page-identification .pan-forces #logo-cma:hover, #page-identification .pan-forces #logo-cci:hover, #page-identification .pan-forces #logo-gendarmerie:hover, #page-identification .pan-forces #logo-police:hover {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-color: #4285F4;
}

#page-identification .pan-chambres #logo-ca img, #page-identification .pan-chambres #logo-cma img, #page-identification .pan-chambres #logo-cci img, #page-identification .pan-chambres #logo-gendarmerie img, #page-identification .pan-chambres #logo-police img, #page-identification .pan-forces #logo-ca img, #page-identification .pan-forces #logo-cma img, #page-identification .pan-forces #logo-cci img, #page-identification .pan-forces #logo-gendarmerie img, #page-identification .pan-forces #logo-police img {
  width: 175px;
  height: 175px;
}

#page-identification .pan-chambres #logo-gendarmerie, #page-identification .pan-forces #logo-gendarmerie {
  margin-left: 10px;
}

#page-identification .pan-chambres h1, #page-identification .pan-forces h1 {
  color: #ececec;
  margin-left: 25px;
  margin-bottom: 45px;
  padding-bottom: 5px;
  border-bottom: 5px solid #4285F4;
  text-transform: uppercase;
}

#page-identification .pan-chambres {
  position: absolute;
  left: 9%;
  top: 25%;
}

#page-identification .pan-chambres h1 {
  width: 262px;
}

#page-identification .pan-forces {
  position: absolute;
  left: 60%;
  top: 25%;
}

#page-identification .pan-forces h1 {
  width: 355px;
}

#page-identification #pan-identification {
  width: 300px;
  height: 510px;
  background-color: #1E1E1E;
  margin: auto;
  margin-top: 5%;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  padding: 50px;
}

#page-identification #pan-identification #logo-choisi {
  background-color: #ececec;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 15px;
  width: 60%;
  padding: 20px;
  border-radius: 50%;
}

#page-identification #pan-identification #logo-choisi img {
  width: 175px;
  height: 175px;
}

#page-identification #pan-identification #logo-choisi:hover {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-color: #4285F4;
}

#page-identification #pan-identification p {
  font-family: "KoHo";
  font-weight: 600;
  text-align: left;
  color: #ececec;
}

#page-identification #pan-identification [name='mdp'], #page-identification #pan-identification [name='id'] {
  width: 100%;
  height: 10px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 22px;
  border: 0px;
  border-bottom: 2px solid #ececec;
  background-color: transparent;
  color: #ececec;
}

#page-identification #pan-identification [name='mdp']:focus, #page-identification #pan-identification [name='id']:focus {
  outline: 0;
}

#page-identification #pan-identification .bouton-id {
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: #4285F4;
  color: #ececec;
  border: 0px;
  border-radius: 2px;
  margin-top: 5px;
  cursor: pointer;
}

#page-identification #pan-identification [value="valider"]:hover {
  background-color: #ececec;
  color: #1E1E1E;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#page-identification #pan-identification [value="retour"] {
  background-color: transparent;
}

#page-identification #pan-identification #login-failed {
  color: #FF2646;
  margin: auto;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

#nav-gauche {
  height: 100%;
  width: 230px;
  background-color: #1E1E1E;
  display: block;
  text-align: left;
  color: #ececec;
  position: absolute;
  border-right: 1px #121212;
}

#nav-gauche .onglet-profil {
  width: 80%;
  height: 35px;
  margin: 15px;
  padding: 5px;
  background-color: #4285F4;
  border-radius: 2px;
}

#nav-gauche .onglet-profil:hover {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

#nav-gauche .onglet-profil span {
  font-weight: 600;
  font-size: 20px;
  padding-left: 15%;
}

#nav-gauche .onglet-profil span:hover {
  cursor: pointer;
}

#nav-gauche .onglet-profil img {
  margin-left: 25%;
  padding-top: 5px;
  width: 20px;
  height: 20px;
}

#nav-gauche .onglet-profil img:hover {
  cursor: pointer;
}

#nav-gauche .onglets, #nav-gauche .onglet-selected {
  width: 80%;
  height: 30px;
  padding-left: 20%;
  padding-top: 8%;
  padding-bottom: 5%;
}

#nav-gauche .onglets:hover, #nav-gauche .onglet-selected:hover {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-color: #000000;
  cursor: pointer;
}

#nav-gauche .onglets .number-msg, #nav-gauche .onglet-selected .number-msg {
  position: absolute;
  left: 80%;
  margin-top: -10%;
}

#nav-gauche .onglet-selected {
  border-left: 4px solid #4285F4;
}

#nav-gauche .logo {
  margin-left: 15%;
  top: 72%;
  position: absolute;
  background-color: #ececec;
  border-radius: 2px;
}

#nav-gauche .logo:hover {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-color: #4285F4;
}

#pan-profil {
  position: absolute;
  background-color: #F9F9F9;
  top: 0;
  bottom: 0;
  right: 0;
  left: 231px;
  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

#pan-profil h1 {
  position: absolute;
  left: 42%;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 5px solid #4285F4;
}

#pan-profil #pan-profil-interieur {
  width: 100%;
  height: 85%;
  background-color: #1E1E1E;
  border-radius: 2px;
  margin-top: 6.5%;
  color: #ececec;
  font-size: 19px;
}

#pan-profil #pan-profil-interieur .img-profil {
  margin-left: 15%;
  padding-top: 2.5%;
}

#pan-profil #pan-profil-interieur .img-profil img {
  width: 17%;
  height: 17%;
}

#pan-profil #pan-profil-interieur .nom, #pan-profil #pan-profil-interieur .prenom {
  font-weight: 600;
  position: absolute;
  display: block;
  margin-bottom: 10px;
}

#pan-profil #pan-profil-interieur .nom {
  font-size: 30px;
  left: 38%;
  top: 24%;
}

#pan-profil #pan-profil-interieur .prenom {
  font-size: 26px;
  left: 38%;
  top: 32%;
}

#pan-profil #pan-profil-interieur .zone-infos {
  width: 27%;
  position: absolute;
  left: 12%;
}

#pan-profil #pan-profil-interieur .zone-infos .infos-user {
  margin-top: 2%;
}

#pan-profil #pan-profil-interieur .zone-infos .input-infos {
  width: 100%;
  height: 23px;
  margin-top: 5px;
  padding: 5px;
  font-size: 17px;
}

#pan-profil #pan-profil-interieur .zone-mdp {
  width: 27%;
  position: absolute;
  left: 45%;
}

#pan-profil #pan-profil-interieur .zone-mdp .mdp-user {
  margin-top: 2%;
}

#pan-profil #pan-profil-interieur .zone-mdp .input-mdp {
  width: 100%;
  height: 23px;
  margin-top: 5px;
  padding: 5px;
  font-size: 17px;
}

#pan-profil #pan-profil-interieur .required-input {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 57%;
  top: 6.5%;
}

#pan-profil #pan-profil-interieur [type="submit"] {
  width: 130px;
  height: 40px;
  position: absolute;
  left: 45%;
  top: 82%;
  border: none;
  font-size: 16px;
  background-color: #4285F4;
  color: #F9F9F9;
  border-radius: 2px;
}

#pan-profil #pan-profil-interieur [type="submit"]:hover {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #F9F9F9;
  color: #1E1E1E;
  cursor: pointer;
}

#pan-profil #pan-profil-interieur #success, #pan-profil #pan-profil-interieur #error {
  font-size: 15px;
  position: absolute;
  left: 12%;
  top: 82%;
}

#pan-profil #pan-profil-interieur #success {
  color: #26FF26;
}

#pan-profil #pan-profil-interieur #error {
  color: #FF2646;
}

#pan-content {
  position: absolute;
  background-color: #F9F9F9;
  top: 0;
  bottom: 0;
  right: 0;
  left: 230px;
}

#pan-content #barre-refresh {
  width: 260px;
  height: 25px;
  background-color: whitesmoke;
  position: absolute;
  top: -1px;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

#pan-content #barre-refresh img {
  width: 15px;
  height: 15px;
  position: absolute;
  margin-top: 5px;
  margin-left: 15%;
}

#pan-content #barre-refresh img:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

#pan-content #barre-refresh em {
  margin-left: 85px;
  padding-top: 2px;
  font-weight: 600;
  font-style: normal;
  color: #4285F4;
  cursor: pointer;
}

#pan-content #barre-refresh em:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

#pan-content #liste-onglets {
  width: 260px;
  position: absolute;
  bottom: 0;
  top: 25px;
  border-right: 1px solid lightgrey;
  background-color: whitesmoke;
  overflow: hidden;
  overflow-y: auto;
}

#pan-content #liste-onglets .onglet-msg-selected, #pan-content #liste-onglets .onglet-msg, #pan-content #liste-onglets .onglet-non-lu {
  height: 75px;
  width: 100%;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid lightgrey;
}

#pan-content #liste-onglets .onglet-msg-selected:hover, #pan-content #liste-onglets .onglet-msg:hover, #pan-content #liste-onglets .onglet-non-lu:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

#pan-content #liste-onglets .onglet-msg-selected #date-reception, #pan-content #liste-onglets .onglet-msg #date-reception, #pan-content #liste-onglets .onglet-non-lu #date-reception {
  font-size: 12px;
  position: absolute;
  margin-left: 170px;
  margin-top: 14px;
}

#pan-content #liste-onglets .onglet-msg-selected h9, #pan-content #liste-onglets .onglet-msg-selected h10, #pan-content #liste-onglets .onglet-msg h9, #pan-content #liste-onglets .onglet-msg h10, #pan-content #liste-onglets .onglet-non-lu h9, #pan-content #liste-onglets .onglet-non-lu h10 {
  position: absolute;
  margin-left: 22px;
}

#pan-content #liste-onglets .onglet-msg-selected h9, #pan-content #liste-onglets .onglet-msg h9, #pan-content #liste-onglets .onglet-non-lu h9 {
  font-size: 15px;
  font-weight: bold;
  color: #4285F4;
  margin-top: 12px;
}

#pan-content #liste-onglets .onglet-msg-selected h10, #pan-content #liste-onglets .onglet-msg h10, #pan-content #liste-onglets .onglet-non-lu h10 {
  font-size: 14px;
  margin-top: 40px;
}

#pan-content #liste-onglets .onglet-msg-selected {
  background-color: #4285F4;
}

#pan-content #liste-onglets .onglet-msg-selected h9, #pan-content #liste-onglets .onglet-msg-selected h10, #pan-content #liste-onglets .onglet-msg-selected #date-reception {
  color: #ececec;
}

#pan-content #liste-onglets .onglet-non-lu::after {
  content: "";
  position: absolute;
  height: 75px;
  background-color: #4285F4;
  width: 4px;
}

#pan-content #barre-actions {
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  left: 261px;
  border-bottom: 1px solid lightgrey;
}

#pan-content #barre-actions [type="button"] {
  width: 115px;
  height: 30px;
  margin-top: 5px;
  margin-left: 50px;
  background-color: #4285F4;
  color: #ececec;
  border: none;
  border-radius: 2px;
}

#pan-content #barre-actions [type="button"]:hover {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

#pan-content #pan-demande {
  position: absolute;
  right: 0;
  top: 41px;
  left: 261px;
  bottom: 0;
  padding: 20px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: whitesmoke;
}

#pan-content #pan-demande fieldset {
  border: none;
}

#pan-content #pan-demande fieldset #date-demande {
  font-size: 13px;
  color: grey;
  position: absolute;
  right: 50px;
  top: 20px;
}

#pan-content #pan-demande fieldset legend {
  font-weight: bold;
  color: #4285F4;
  border-bottom: 2px solid #4285F4;
}

#pan-content #pan-demande fieldset em {
  font-weight: 600;
  color: #4285F4;
  cursor: pointer;
}

#pan-content #pan-demande fieldset #cle {
  font-size: 25px;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */