@charset "UTF-8";

// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Titillium+Web:wght@400;600;700&display=swap');

:root {
    // general colors
    --background-color: #dddddd;
    --font-color: #121212;
    --panel-color: #f5f5f5;

    --border-color: #dadada;
    --hover-bg-color: #dddddd;
    --hover-font-color: #f5f5f5;
    --shadow-color: #b4b4b4;

    --input-border: #dadada;

    // grey colors
    --page-content: #FAF9F8;
    --msg-content: #FFFFFF;

    // buttons
    --button-color: #0078D7;
    --button-hover: #005A9E;

    // color nav gauche
    --nav-bg-color: #f5f5f5;
    --nav-profile-bg: #0078D7;
    --nav-profile-font: #f5f5f5;
    --nav-onglet-font: #2236449a;
    --nav-hover-bg: #e7e7e7d0;
    --nav-select-bg: #dadada;
    --nav-select-font: #121212;

    // chambre - forces
    --date-color: #808080;
    --msg-background: #fff;
    --msg-block: #dadada;
    --msg-font: #121212;

    // others
    --blue-color: #0078D7;
    --error-color: #E81123;
    --success-color: #00CC6A;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #100E17;
        --font-color: #f5f5f5;
        --panel-color: #17141D;
        --border-color: #000;
        --hover-bg-color: #ddddddce;
        --hover-font-color: #f5f5f5;
        --shadow-color: #000000;

        --input-border: #eeeeee;

        --primary-color: #F4F6F8;
        --page-content: #17141D;
        --msg-content: #FDFDFD;

        // buttons
        --button-color: #0091EA;
        --button-hover: #01579B;

        // color nav gauche
        --nav-bg-color: #100E17;
        --nav-profile-bg: #0091EA;
        --nav-profile-font: #f5f5f5;
        --nav-onglet-font: #ffffff9a;
        --nav-hover-bg: #000;
        --nav-select-bg: #5fa1d61e;
        --nav-select-font: #fff;

        // chambre - forces
        --date-color: #9E9E9E;
        --msg-background: #100E17;
        --msg-block: #303030;
        --msg-font: #f5f5f5;

        --blue-color: #0091EA;
        --error-color: #FF2646;
        --success-color: #26FF26;
    }
}

@keyframes apparition {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@mixin flex($flow, $justify, $align) {
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $align;
}

@mixin shadow($blur, $spread) {
    box-shadow: 0 0 $blur $spread var(--shadow-color);
}

@mixin hover($color-bg, $font-color) {
    &:hover {
        cursor: pointer;
        background-color: $color-bg;
        color: $font-color;
        transition: 0.3s all ease;
        box-shadow: none;
    }
}

@mixin center-xy-axis {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    opacity: 0.5;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--blue-color);
    border-radius: 2.5px;
    opacity: 0.5;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--blue-color); 
    opacity: 0.5;
}

/* ========== MAIN CODE =========== */

* {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    color: var(--font-color);
    word-break: break-word;
    box-sizing: border-box;
    text-decoration: none;
    img {
        max-width: 100%;
    }
}

html {
    font-size: 62.5%;   /* 1 rem = 10px */
    scroll-behavior: smooth;    /* scrollbar smooth */
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.0rem;
}

/* titre des demandes / msg / annonces / conseils */
legend {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--blue-color);
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    min-width: 1000px;
    min-height: 600px;
    overflow: auto;
}

// CUSTOMIZE AUTOCOMPLETION ANNONCE
.ui-autocomplete { position: absolute; cursor: default; }       
/* Menu -----------------------*/
.ui-menu {
        background: var(--nav-bg-color);
        list-style:none;
        padding: 10px;
        margin: 0;
        display:block;
        width:227px;
        border: 2px solid var(--border-color);
}
.ui-menu .ui-menu {
        margin-top: -3px;
}
.ui-menu .ui-menu-item {
        margin:0;
        padding: 0;
        width: 100%;
}
.ui-menu .ui-menu-item a {
        text-decoration:none;
        display:block;
        padding:.2em .4em;
        line-height:1.5;
        zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
        margin: -1px;
}

// PERSONNALISATION DES INPUTS
.input-infos, .input-mdp, [name='input-objet-conseil'], [name='input-objet-annonce'] {
    padding: 6.5px 8px;
    border: 2px solid var(--shadow-color);
    background-color: var(--nav-bg-color);
}

#pan-identification [name="id"],#pan-identification [name="mdp"], [name="mdpAdmin"], .input-new-gestionnaire {
    padding: 10px 0 7.5px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--input-border);
}

// PERSONNALISATION DES BOUTONS
.btn-admin {
    background-color: var(--panel-color);
    padding: 7.5px 15px;
    border: none;
    border-radius: 0px;
    position: absolute;
    top: 0;
    left: 0;
    @include shadow(5px, 1px);
    @include hover(var(--blue-color), var(--hover-font-color));
}

.button-id, .btn-profil, .actions, .new-annonce, .new-conseil, .btn-new-annonce-conseil, [name="envoyer-msg"] {
    padding: 7.5px;
    border: none;
    font-weight: 600;
    color: var(--nav-profile-font);
    background-color: var(--button-color);
    box-shadow: 0px 2.5px 0px var(--shadow-color);
    @include hover(var(--button-hover), var(--hover-font-color));
}


/* ========== IDENTIFICATION =========== */
#page-identification {
    @include flex(row wrap, center, center);
    transition: 0.5s all ease;

    // choix chambres
    .pan-chambres, .pan-forces {
        background-color: var(--panel-color);
        padding: 25px;
        margin: 25vh 5vh 5vh;
        @include shadow(10px, 2px);

        h1 {
            display: block;
            margin-bottom: 15px;
            text-align: center;

            em {
                font-style: normal;
                font-weight: 700;
                font-size: 2.0rem;
                color: var(--blue-color);
            }
        }

        img {
            width: 200px;
            margin: 10px 2.5px 0;
            padding: 10px;
            background-color: #f5f5f5;
            @include shadow(5px, 1px);
            @include hover(var(--hover-bg-color), none);
        }
    }

    // identification
    #pan-identification {
        width: 385px;
        background-color: var(--panel-color);
        padding: 55px;
        text-align: center;
        @include center-xy-axis;
        @include shadow(10px, 2px);
        @include flex(column nowrap, flex-start, center);

        img {
            width: 225px;
            padding: 15px;
            border-radius: 50%;
            background-color: #f5f5f5;
            margin-bottom: 15px;
            @include shadow(5px, 1px);
            @include hover(var(--hover-bg-color), none);
        }

        [name="id"], [name="mdp"] {
            width: 100%;
            font-size: 1.6rem;
            margin: 20px 0 5px;
        }

        #login-failed {
            color: var(--error-color);
            font-size: 1.25rem;
            margin: 5px 0 -10px;
            text-align: left;
        }

        .buttons-id {
            width: 100%;
            @include flex(row nowrap, space-between, center);

            .button-id {
                width: 45%;
                padding: 10px;
                margin-top: 25px;
            }

            [value="Retour"] {
                background-color: var(--background-color);
                color: var(--msg-font);
            }
        }
    }

    // ajout gestionnaire (admin)
    #pan-connexion-admin {
        width: 400px;
        background-color: var(--panel-color);
        padding: 35px 50px;
        text-align: center;
        @include center-xy-axis;
        @include shadow(10px, 2px);

        [name="mdpAdmin"] {
            width: 100%;
            font-size: 1.6rem;
            margin: 20px 0 0px;
        }   

        #error {
            font-size: 1.3rem;
            margin-top: 15px;
            text-align: center;
            color: var(--error-color);
        }

        .button-id {
            width: 100%;
            padding: 10px;
            margin-top: 20px;
        }
    }

    // pan ajout gestionnaire
    #pan-ajout-gestionnaire {
        width: 410px;
        background-color: var(--panel-color);
        padding: 55px;
        @include flex(column wrap, none, none);
        @include shadow(10px, 2.5px);
        @include center-xy-axis;
        
        h1 {
            display: block;
            font-size: 2.0rem;
            text-align: center;
        }
        
        select {
            padding: 5px 8px;
            color: var(--msg-font);
            background-color: var(--nav-bg-color);
            border: 2px solid var(--border-color);
            font-size: 1.6rem;
            margin-top: 20px;
            border-radius: 0px;
        }
        
        .input-new-gestionnaire {
            width: 100%;
            font-size: 1.6rem;
            margin: 20px 0 5px;
        }
        
        .button-id {
            width: 100%;
            padding: 10px;
            margin-top: 30px;
        }

        #ajout-success, #ajout-failed, #ajout-mdp-different, #ajout-id-existant {
            font-size: 1.3rem;
            margin-top: 20px;
            text-align: center;
            color: var(--error-color);
        }
        #ajout-success {
            color: var(--success-color);
        }
    }
}

/* ========== NAV GAUCHE =========== */
#nav-gauche {
    width: 225px;
    height: 100vh;
    background-color: var(--nav-bg-color);
    border-right: 1px solid var(--border-color);
    z-index: 10;
    @include flex(column wrap, flex-start, center);

    .onglet-profil {
        width: 100%;
        height: 53px;
        background-color: var(--nav-profile-bg);
        box-shadow: 0px 0px 15px -5px var(--blue-color);
        @include flex(row wrap, center, center);
        text-align: right;

        span {
            color: var(--nav-profile-font);
            font-weight: 600;
            font-size: 1.8rem;
            margin-right: 40%;
            cursor: pointer;
        }

        img {
            width: 18px;
            margin-bottom: 2.5px;
            cursor: pointer;
        }
    }

    // BOUTONS POUR FORCES
    .new-annonce, .new-conseil {
        width: 75%;
        padding: 10px;
        margin: 15px 0 15px;
        transition: 0.3s all ease;
        border-radius: 0px;
        
        &:hover {
            width: 100%;
            transition: 0.3s all ease;
            background-color: var(--button-color);
        }
    }

    .new-annonce {
        margin-bottom: 0;
    }

    .new-conseil {
        margin-top: 5px;
    }

    .onglets, .onglet-selected {
        width: 100%;
        background-color: transparent;
        padding: 12.5px;
        font-weight: 600;
        color: var(--nav-onglet-font);
        @include hover(var(--nav-hover-bg), none);
        padding-left: 30px;

        .number-msg {
            float: right;
            margin-right: 10px;
            color: var(--nav-onglet-font);
        }
    }

    .onglet-selected {
        background-color: var(--nav-select-bg);
        color: var(--nav-select-font);
        border-left: 4px solid var(--nav-profile-bg);
        padding-left: 26px;

        .number-msg {
            color: var(--nav-profile-bg);
        }
    }

    .nb-connexions {
        font-size: 1.4rem;
        position: absolute;
        bottom: 3%;
    }

    .logo {
        position: absolute;
        bottom: 5%;
    }
}

/* ========== PROFILE =========== */
#pan-profil {
    background-color: var(--page-content);
    text-align: left;
    position: absolute;
    left: 225px; top: 0; right: 0; bottom: 0;

    .block-titre {
        height: 15%;
        padding-top: 2%;
        text-align: center;
        color: var(--nav-profile-font);
        background-color: var(--blue-color);
        box-shadow: 0px 0px 20px -5px var(--blue-color);
        font-size: 2.5rem;
        font-weight: 600;
    }

    form {
        @include flex(row wrap, flex-start, flex-start);

        #pan-photo {
            margin: 7.5% 2.5% 0 7.5%;
            text-align: center;

            .img-profil {
                img {
                    width: 200px;
                    border-radius: 50%;
                    margin-bottom: 25px;
                }
            }

            h1 {
                font-size: 2.5rem;
                font-weight: normal;
                color: var(--font-color);
                display: block;
            }
        }

        .zone-infos, .zone-mdp {
            width: 25%;
            margin: 7.5% 2.5% 0;
            @include flex(column wrap, flex-start, flex-start);
    
            p {
                font-size: 1.85rem;
                color: var(--blue-color);
                font-weight: 600;
            }

            .fas {
                margin-left: 12px;
                color: var(--error-color);
            }

            #success, #error {
                font-size: 1.5rem;
                font-weight: normal;
                display: block;
                margin-top: 15px;
                color: var(--error-color);
            }

            #success {
                color: var(--success-color);
            }

            .input-infos, .input-mdp {
                width: 100%;
                font-size: 1.65rem;
                margin: 2% 0 4%;
            }
            
            .btn-profil {
                width: 50%;
                padding: 10px;
                margin-top: 4%;
            }
        }
    }
}

/* ========== PAN DEMANDES / MESSAGES =========== */
#pan-content {
    background-color: var(--page-content);
    position: absolute;
    left: 225px; right: 0; top: 0; bottom: 0;

    // liste des demandes / msg / annonces / conseils
    #liste-onglets {
        width: 275px;
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        background-color: var(--page-content);
        border-right: 1px solid var(--border-color);
        overflow: hidden;
        overflow-y: auto;

        #barre-refresh {
            background-color: var(--nav-bg-color);
            padding: 5px;
            border-bottom: 1px solid var(--border-color);
            @include flex(row wrap, center, center);
    
            i, em {
                font-style: normal;
                color: var(--blue-color);
                font-weight: 600;
                margin: 0 25px 0 0px;
                @include hover(none, var(--font-color));
            }
        }

        .onglet-msg, .onglet-msg-selected, .onglet-non-lu {
            width: 100%;
            padding: 12.5px 15px;
            border-bottom: 1px solid var(--border-color);
            cursor: pointer;

            #date-reception {
                color: var(--date-color);
                font-size: 1.2rem;
                float: right;
                margin-right: 5px;
            }

            h9 {
                font-size: 1.6rem;
                font-weight: 600;
                color: var(--blue-color);
            }

            h10 {
                font-size: 1.4rem;
                color: var(--font-color);
            }
        }

        .onglet-msg, .onglet-non-lu {
            @include hover(var(--nav-hover-bg), none);
        }

        .onglet-non-lu {
            border-left: 4px solid var(--blue-color);
        }

        .onglet-msg-selected {
            background-color: var(--blue-color);

            #date-reception, h9, h10 {
                color: var(--nav-profile-font);
            }
        }
    }
    
    // BARRE ACTIONS
    #barre-actions, #barre-envoi {
        background-color: var(--nav-bg-color);
        position: absolute;
        left: 275px; right: 0; top: 0;
        padding: 7.5px 25px 7.5px;
        border-bottom: 1px solid var(--border-color);

        .actions, .btn-new-annonce-conseil {
            width: 125px;
            margin-right: 25px;
        }
    }

    // BARRE BOUTON NOUVEAU CONSEIL / ANNONCE
    #barre-envoi {
        left: 0px;
    }

    #pan-demande, #zone-annonce-conseil {
        position: absolute;
        left: 275px; right: 0; top: 54px; bottom: 0;
        padding: 15px 25px 20px;
        overflow-y: auto;
    }

    // PANEL OUVERTURE DEMANDE (CHAMBRE)
    #pan-demande {
        
        fieldset {
            border: none;
            padding-bottom: 15px;

            b {
                font-weight: 600;
            }

            label {
                display: block;
                margin-bottom: 20px;
                cursor: text;

                i {
                    margin-left: 10px;
                    color: var(--blue-color);
                }
            }

            time {
                float: right;
                margin-top: -23px;
                font-size: 1.3rem;
                color: var(--date-color);
            }

            #cle {
                font-size:2.5rem;
                font-weight: 600;
                margin-top: 10px;
            }
        }
    }

    // PANEL OUVERTURE MESSAGE PRIVE (FORCES)
    #zone-msg {
        position: absolute;
        left: 275px; right: 0; top: 54px; bottom: 0;

        // infos de l'utilisateur du msg
        #zone-infos-prive {
            width: 100%;
            padding: 15px 25px 20px;
            position: absolute;
            left: 0; right: 0; top: 0px;
            z-index: 100;
            border-bottom: 1px solid var(--border-color);

            fieldset {
                border: none;
    
                p {
                    display: block;
                    margin-top: 7.5px;
                }
            }   

        }

        // zone de discussion
        #zone-discussion {
            width: 100%;
            padding: 20px 25px;
            position: absolute;
            left: 0; right: 0; top: 223px; bottom: 100px;
            background-color: var(--msg-background);
            overflow-y: auto;
            @include flex(column, none, none);

            .msg-force, .msg-user {
                padding: 15px 20px;
                margin-bottom: 15px;
                max-width: 60%;
                border-radius: 5px;
            }

            .msg-force {
                background-color: var(--blue-color);
                align-self: flex-end;
                color: var(--nav-profile-font);
            }
            
            .msg-user {
                background-color: var(--msg-block);
                align-self: flex-start;
                color: var(--msg-font);
            }
        }

        // zone de réponse du message
        #zone-reponse {
            width: 100%;
            height: 110px;
            position: absolute;
            left: 0; right: 0; bottom: 0px;
            background-color: var(--msg-background);

            .write-msg {
                position: absolute;
                left: 25px; right: 155px; bottom: 10px; top: 10px;

                textarea {
                    width: 100%;
                    height: 100%;
                    font-size: 1.5rem;
                    padding: 6.5px 8px;
                    border: 2px solid var(--shadow-color);
                    background-color: var(--msg-block);
                    resize: none;
                }
            }

            [name="envoyer-msg"] {
                position: absolute;
                right: 25px; top: 11px;
                width: 125px;
                padding: 10px;
            }
        }
    }

    // PANEL OUVERTURE DES ANNONCES / CONSEILS (FORCES)
    #zone-annonce-conseil {
        
        fieldset {
            border: none;
            border-bottom: 1px solid var(--border-color);
            padding-bottom: 15px;
            margin-bottom: 15px;

            time {
                float: right;
                margin-top: -23px;
                font-size: 1.3rem;
                color: var(--date-color);
            }

            .user-concernes {
                font-size: 1.4rem;
                color: var(--date-color);
            }
        }   
    }

    // PANEL NOUVEAU CONSEIL
    #objet-new-conseil, #objet-new-annonce {
        position: absolute;
        left: 0px; right: 0; top: 54px; bottom: 0;
        padding: 15px 25px 20px;

        fieldset {
            border: none;

            .user-concernes {
                font-size: 1.4rem;
                color: var(--date-color);
            }

            [name='input-objet-conseil'], [name='input-objet-annonce'] {
                width: 100%;
                font-size: 1.65rem;
                margin-top: 5px;
                outline: none;
            }
        }
    }

    // PANEL NOVUEAU ANNONCE
    #zone-saisie-annonce {
        position: absolute;
        left: 0px; right: 0; top: 54px; bottom: 0;
        padding: 15px 25px 20px;

        fieldset {
            border: none;
            padding-bottom: 15px;
            border-bottom: 1px solid var(--border-color);

            .champs-annonce {
                margin-top: 10px;
                @include flex(row nowrap, none, center);

                .titre-categorie {
                    display: block;
                    width: 85px;
                }

                .select-categorie {
                    display: block;
                    width: 235px;
                }

                [type="text"] , select {
                    width: 16%;
                    margin: 0 15px;
                    padding: 5px 8px;
                    background-color: var(--nav-bg-color);
                    border: 2px solid var(--border-color);
                }

                [type="checkbox"] {
                    cursor: pointer;
                    width: 15px;
                    height: 15px;
                }
            }
        }

        img {
            width: 200px;
            float: right;
            margin-top: -250px;
        }

        @media (max-width: 999px) {
            img {
                display: none;
            }

            fieldset {
                .champs-annonce {
                    [type="text"] , select {
                        width: 30%;
                    }
                }
            }
        }

        #objet-new-annonce {
            top: 330px;
        }
    }

    // ZONE SAISIE CONSEIL / ANNONCE
    #write-conseil, #write-annonce {
        position: absolute;
        left: 0px; right: 0; top: 180px; bottom: 0;
        padding: 0px 25px 25px;

        textarea {
            width: 100%;
            height: 100%;
            font-size: 1.5rem;
            padding: 6.5px 8px;
            border: 2px solid var(--border-color);
            background-color: var(--nav-bg-color);
            outline: none;
            resize: none;
        }
    }

    #write-annonce {
        top: 510px;
    }
}