@charset "UTF-8";
@font-face {
    font-family: 'KoHo';
    src: url("../docs/font/KoHo/KoHo-Regular.ttf") format("truetype");
}
  
@font-face {
    font-family: 'KoHo';
    font-weight: bold;
    src: url("../docs/font/KoHo/KoHo-Bold.ttf") format("truetype");
}
  
@font-face {
    font-family: 'KoHo';
    font-weight: 600;
    src: url("../docs/font/KoHo/KoHo-SemiBold.ttf") format("truetype");
}
  
@font-face {
    font-family: 'KoHo';
    font-style: italic;
    src: url("../docs/font/KoHo/KoHo-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Adam";
    src: url("../docs/font/Adam/ADAM.CG\ PRO.otf");
}


$color-dark: #121212;
$color-dark-light: #1E1E1E;
$color-light: #F9F9F9;
$color-text: rgb(236, 236, 236);
$color-hover-nav: #000000;
$color-second: #4285F4;
$color-grey: whitesmoke;
$color-success: #26FF26;
$color-error: #FF2646;


* {
    font-family: "KoHo", Arial;
    margin: 0;
    padding: 0;
    word-break: break-word;
}

h1 {
    font-family: "KoHo", "Adam";
    font-weight: bold;;
    font-size: 21.5px;
}

body {
    background-color: #121212;
}


#page-identification {
    width: 100%;
    height: 100%;
    //choix chambres
    .pan-chambres, .pan-forces {
        height: 300px;
        padding: 30px;
        background-color: $color-dark-light;
        border-radius: 5px 5px 5px 5px;
        #logo-ca, #logo-cma, #logo-cci, #logo-gendarmerie, #logo-police {
            display: inline-block;
            background-color: $color-text;
            padding: 10px;
            border-radius: 5px 5px 5px 5px;
            &:hover {
                transition: 0.5s all ease;
                background-color: $color-second;
            }
            img {
                width: 175px;
                height: 175px;
            }
        }
        #logo-gendarmerie {
            margin-left: 10px;
        }
        h1 {
            color: $color-text;
            margin-left: 25px;
            margin-bottom: 45px;
            padding-bottom: 5px;
            border-bottom: 5px solid $color-second;
            text-transform: uppercase;
        }
    }
    .pan-chambres {
        position: absolute;
        left: 9%;
        top: 25%;
        h1 {
            width: 262px;
        }
    }
    .pan-forces {
        position: absolute;
        left: 60%;
        top: 25%;
        h1 {
            width: 355px;
        }
    }

    // identification
    #pan-identification {
        width: 300px;
        height: 510px;
        background-color: $color-dark-light;
        margin: auto;
        margin-top: 5%;
        border-radius: 5px 5px 5px 5px;
        text-align: center;
        padding: 50px;

        #logo-choisi {
            background-color: $color-text;
            // border-radius: 5px 5px 5px 5px;
            margin: auto;
            margin-bottom: 40px;
            margin-top: 15px;
            width: 60%;
            padding: 20px;
            border-radius: 50%;
            img {
                width: 175px;
                height: 175px;
            }
            &:hover {
                transition: 0.5s all ease;
                background-color: $color-second;
            }
        }
        p {
            font-family: "KoHo";
            font-weight: 600;
            text-align: left;
            color: $color-text;
        }
        [name='mdp'], [name='id'] {
            width: 100%;
            height: 10px;
            font-size: 16px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 22px;
            border: 0px;
            border-bottom: 2px solid $color-text;
            background-color: transparent;
            color: $color-text;
            &:focus {
                outline: 0;
            }
        }
        .bouton-id  {
            width: 100%;
            height: 40px;
            padding: 10px;
            background-color: $color-second;
            color: $color-text;
            border: 0px;
            border-radius: 2px;
            margin-top: 5px;
            cursor: pointer;
        }
        [value="valider"] {
            &:hover {
                background-color: $color-text;
                color: $color-dark-light;
                transition: 0.5s ease;
            }
        }
        [value="retour"] {
            background-color: transparent;
        }
        #login-failed {
            color: $color-error;
            margin: auto;
            font-size: 14px;
            text-align: center;
            margin-bottom: 10px;
        }
    }
}

#nav-gauche {
    height: 100%;
    width: 230px;
    background-color: $color-dark-light;
    display: block;
    text-align: left;
    color: $color-text;
    position: absolute;
    border-right: 1px $color-dark;
    .onglet-profil {
        width: 80%;
        height: 35px;
        margin: 15px;
        padding: 5px;
        background-color: $color-second;
        border-radius: 2px;
        &:hover {
            filter: brightness(115%);
            transition: 0.4s ease;
        }
        span {
            font-weight: 600;
            font-size: 20px;
            padding-left: 15%;
            &:hover {
                cursor: pointer;
            }
        }
        img {
            margin-left: 25%;
            padding-top: 5px;
            width: 20px;
            height: 20px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .onglets, .onglet-selected {
        width: 80%;
        height: 30px;
        // background-color: green;
        padding-left: 20%;
        padding-top: 8%;
        padding-bottom: 5%;
        &:hover {
            transition: 0.5s all ease;
            background-color: $color-hover-nav;
            cursor: pointer;
        }
        & .number-msg {
            position: absolute;
            left: 80%;
            margin-top: -10%;
        }
    }
    .onglet-selected {
        border-left: 4px solid $color-second;
    }
    .logo {
        margin-left: 15%;
        top: 72%;
        position: absolute;
        background-color: $color-text;
        border-radius: 2px;
        &:hover {
            transition: 0.5s all ease;
            background-color: $color-second;
        }
    }
}

#pan-profil {
    position: absolute;
    background-color: $color-light;
    top: 0;
    bottom: 0;
    right: 0;
    left: 231px;
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
    h1 {
        position: absolute;
        left: 42%;
        text-transform: uppercase;
        padding-bottom: 5px;
        border-bottom: 5px solid $color-second;
    }
    #pan-profil-interieur {
        width: 100%;
        height: 85%;
        background-color: $color-dark-light;
        border-radius: 2px;
        margin-top: 6.5%;
        color: $color-text;
        font-size: 19px;
        .img-profil {
            margin-left: 15%;
            padding-top: 2.5%;
            img {
                width: 17%;
                height: 17%;
            }
        }
        .nom, .prenom {
            font-weight: 600;
            position: absolute;
            display: block;
            margin-bottom: 10px;
        }
        .nom {
            font-size: 30px;
            left: 38%;
            top: 24%;
        }
        .prenom {
            font-size: 26px;
            left: 38%;
            top: 32%;
        }
        .zone-infos {
            width: 27%;
            position: absolute;
            left: 12%;
            .infos-user {
                margin-top: 2%;
            }
            .input-infos {
                width: 100%;
                height: 23px;
                margin-top: 5px;
                padding: 5px;   
                font-size: 17px;
            }
        }
        .zone-mdp {
            width: 27%;
            position: absolute;
            left: 45%;
            .mdp-user {
                margin-top: 2%;
            }
            .input-mdp {
                width: 100%;
                height: 23px;
                margin-top: 5px;
                padding: 5px;   
                font-size: 17px;
            }
        }
        .required-input {
            width: 15px;
            height: 15px;
            position: absolute;
            left: 57%;
            top: 6.5%;
        }
        [type="submit"] {
            width: 130px;
            height: 40px;
            position: absolute;
            left: 45%;
            top: 82%;
            border: none;
            font-size: 16px;
            background-color: $color-second;
            color: $color-light;
            border-radius: 2px;
            &:hover {
                transition: 0.5s ease;
                background-color: $color-light;
                color: $color-dark-light;
                cursor: pointer;
            }
        }
        #success, #error {
            font-size: 15px;
            position: absolute;
            left: 12%;
            top: 82%;
        }
        #success {
            color: $color-success;
        }
        #error {
            color: $color-error;
        }
    }
}

#pan-content {
    position: absolute;
    background-color: $color-light;
    top: 0;
    bottom: 0;
    right: 0;
    left: 230px;
    #barre-refresh {
        width: 260px;
        height: 25px;
        background-color: $color-grey;
        position: absolute;
        top: -1px;
        border-bottom: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
        img {
            width: 15px;
            height: 15px;
            position: absolute;
            margin-top: 5px;
            margin-left: 15%;
            &:hover {
                filter: brightness(50%);
                transition: 0.4s ease;
                cursor: pointer;
            }
        }
        em {
            margin-left: 85px;
            padding-top: 2px;
            font-weight: 600;
            font-style: normal;
            color: $color-second;
            cursor: pointer;
            &:hover {
                filter: brightness(50%);
                transition: 0.4s ease;
                cursor: pointer;
            }
        }
    }
    #liste-onglets {
        width: 260px;
        position: absolute;
        bottom: 0;
        top: 25px;
        border-right: 1px solid lightgrey;
        background-color: $color-grey;
        overflow: hidden;
        overflow-y: auto;
        .onglet-msg-selected, .onglet-msg, .onglet-non-lu {
            height: 75px;
            width: 100%;
            background-color: whitesmoke;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid lightgrey;
            &:hover {
                filter: brightness(70%);
                transition: 0.4s ease;
                cursor: pointer;
            }
            #date-reception {
                font-size: 12px;
                position: absolute;
                margin-left: 170px;
                margin-top: 14px;
            }
            h9, h10 {
                position: absolute;
                margin-left: 22px;
            }
            h9 {
                font-size: 15px;
                font-weight: bold;
                color: $color-second;
                margin-top: 12px;
            }
            h10 {
                font-size: 14px;
                margin-top: 40px;
            }
        }
        .onglet-msg-selected {
            background-color: $color-second;
            h9, h10, #date-reception {
                color: $color-text;
            }
        }
        .onglet-non-lu {
            &::after {
                content: "";
                position: absolute;
                height: 75px;
                background-color: $color-second;
                width: 4px;

            }
        }
    }
    #barre-actions {
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        left: 261px;
        // background-color: lightgray;
        border-bottom: 1px solid lightgrey;
        [type="button"] {
            width: 115px;
            height: 30px;
            margin-top: 5px;
            margin-left: 50px;
            background-color: $color-second;
            color: $color-text;
            border: none;
            border-radius: 2px;
            &:hover {
                filter: brightness(115%);
                transition: 0.4s ease;
                cursor: pointer;
            }
        }
    }
    #pan-demande {
        position: absolute;
        right: 0;
        top: 41px;
        left: 261px;
        bottom: 0;
        padding: 20px;
        padding-left: 35px;
        padding-right: 35px;
        background-color: whitesmoke;
        fieldset {
            border: none;
            #date-demande {
                font-size: 13px;
                color: grey;
                position: absolute;
                right: 50px;
                top: 20px;
            }
            legend {
                font-weight: bold;
                color: $color-second;
                border-bottom: 2px solid $color-second;
            }
            em {
                font-weight: 600;
                color: $color-second;
                cursor: pointer;
            }
            #cle {
                font-size: 25px;
                font-weight: 600;
            }
        }
    }
}