@font-face {
  font-family: 'KoHo';
  src: url("../docs/font/KoHo/KoHo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'KoHo';
  font-weight: bold;
  src: url("../docs/font/KoHo/KoHo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'KoHo';
  font-weight: 600;
  src: url("../docs/font/KoHo/KoHo-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'KoHo';
  font-style: italic;
  src: url("../docs/font/KoHo/KoHo-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Adam";
  src: url("../docs/font/Adam/ADAM.CG PRO.otf");
}

* {
  font-family: "KoHo", Arial;
  margin: 0;
  padding: 0;
  word-break: break-word;
}

h1 {
  font-family: "KoHo", "Adam";
  font-weight: bold;
  font-size: 21.5px;
}

body {
  background-color: #121212;
}

#page-identification {
  width: 100%;
  height: 100%;
}

#page-identification .pan-chambres, #page-identification .pan-forces {
  height: 300px;
  padding: 30px;
  background-color: #1E1E1E;
  border-radius: 5px 5px 5px 5px;
}

#page-identification .pan-chambres #logo-ca, #page-identification .pan-chambres #logo-cma, #page-identification .pan-chambres #logo-cci, #page-identification .pan-chambres #logo-gendarmerie, #page-identification .pan-chambres #logo-police, #page-identification .pan-forces #logo-ca, #page-identification .pan-forces #logo-cma, #page-identification .pan-forces #logo-cci, #page-identification .pan-forces #logo-gendarmerie, #page-identification .pan-forces #logo-police {
  display: inline-block;
  background-color: #ececec;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

#page-identification .pan-chambres #logo-ca:hover, #page-identification .pan-chambres #logo-cma:hover, #page-identification .pan-chambres #logo-cci:hover, #page-identification .pan-chambres #logo-gendarmerie:hover, #page-identification .pan-chambres #logo-police:hover, #page-identification .pan-forces #logo-ca:hover, #page-identification .pan-forces #logo-cma:hover, #page-identification .pan-forces #logo-cci:hover, #page-identification .pan-forces #logo-gendarmerie:hover, #page-identification .pan-forces #logo-police:hover {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-color: #4285F4;
}

#page-identification .pan-chambres #logo-ca img, #page-identification .pan-chambres #logo-cma img, #page-identification .pan-chambres #logo-cci img, #page-identification .pan-chambres #logo-gendarmerie img, #page-identification .pan-chambres #logo-police img, #page-identification .pan-forces #logo-ca img, #page-identification .pan-forces #logo-cma img, #page-identification .pan-forces #logo-cci img, #page-identification .pan-forces #logo-gendarmerie img, #page-identification .pan-forces #logo-police img {
  width: 175px;
  height: 175px;
}

#page-identification .pan-chambres #logo-gendarmerie, #page-identification .pan-forces #logo-gendarmerie {
  margin-left: 10px;
}

#page-identification .pan-chambres h1, #page-identification .pan-forces h1 {
  color: #ececec;
  margin-left: 25px;
  margin-bottom: 45px;
  padding-bottom: 5px;
  border-bottom: 5px solid #4285F4;
  text-transform: uppercase;
}

#page-identification .pan-chambres {
  position: absolute;
  left: 9%;
  top: 25%;
}

#page-identification .pan-chambres h1 {
  width: 262px;
}

#page-identification .pan-forces {
  position: absolute;
  left: 60%;
  top: 25%;
}

#page-identification .pan-forces h1 {
  width: 355px;
}

#page-identification #pan-identification {
  width: 300px;
  height: 510px;
  background-color: #1E1E1E;
  margin: auto;
  margin-top: 5%;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  padding: 50px;
}

#page-identification #pan-identification #logo-choisi {
  background-color: #ececec;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 15px;
  width: 60%;
  padding: 20px;
  border-radius: 50%;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

#page-identification #pan-identification #logo-choisi img {
  width: 175px;
  height: 175px;
}

#page-identification #pan-identification #logo-choisi:hover {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-color: #4285F4;
}

#page-identification #pan-identification p {
  font-family: "KoHo";
  font-weight: 600;
  text-align: left;
  color: #ececec;
}

#page-identification #pan-identification [name='mdp'], #page-identification #pan-identification [name='id'] {
  width: 100%;
  height: 10px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 22px;
  border: 0px;
  border-bottom: 2px solid #ececec;
  background-color: transparent;
  color: #ececec;
}

#page-identification #pan-identification [name='mdp']:focus, #page-identification #pan-identification [name='id']:focus {
  outline: 0;
}

#page-identification #pan-identification .bouton-id {
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: #4285F4;
  color: #ececec;
  border: 0px;
  border-radius: 2px;
  margin-top: 5px;
  cursor: pointer;
}

#page-identification #pan-identification [value="valider"]:hover {
  background-color: #ececec;
  color: #1E1E1E;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#page-identification #pan-identification [value="retour"] {
  background-color: transparent;
}

#page-identification #pan-identification #login-failed {
  color: #FF2646;
  margin: auto;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

#page-identification [value="retour"], #page-identification [value="Administrateur"] {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  background-color: #4285F4;
  border: none;
  color: #ececec;
  border-radius: 2px;
}

#page-identification [value="retour"]:hover, #page-identification [value="Administrateur"]:hover {
  background-color: #ececec;
  color: #1E1E1E;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#page-identification #pan-connexion-admin {
  width: 350px;
  background-color: #1E1E1E;
  margin: auto;
  margin-top: 3%;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  padding: 65px;
  padding-bottom: 50px;
  color: #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 1.5s all ease;
  transition: 1.5s all ease;
}

#page-identification #pan-ajout-gestionnaire {
  width: 350px;
  background-color: #1E1E1E;
  margin: auto;
  margin-top: 3%;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  padding: 65px;
  padding-bottom: 50px;
  color: #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 1.5s all ease;
  transition: 1.5s all ease;
}

#page-identification #pan-ajout-gestionnaire h1 {
  margin-top: -30px;
}

#page-identification #pan-ajout-gestionnaire [name="select-chambre"] {
  padding: 6px;
  font-size: 15px;
  margin-top: 35px;
  cursor: pointer;
  border-radius: 3px;
}

#page-identification #pan-ajout-gestionnaire .identifiants {
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  margin-top: 22px;
  text-transform: uppercase;
}

#page-identification #pan-ajout-gestionnaire .input-new-gestionnaire {
  padding: 5px;
  margin-top: 5px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #F9F9F9;
  color: #ececec;
  outline: none;
}

#page-identification #pan-ajout-gestionnaire .bouton-id {
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: #4285F4;
  color: #ececec;
  border: none;
  border-radius: 2px;
  margin-top: 25px;
  cursor: pointer;
}

#page-identification #pan-ajout-gestionnaire .bouton-id:hover {
  background-color: #ececec;
  color: #1E1E1E;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#page-identification #pan-ajout-gestionnaire #ajout-success, #page-identification #pan-ajout-gestionnaire #ajout-failed, #page-identification #pan-ajout-gestionnaire #ajout-mdp-different, #page-identification #pan-ajout-gestionnaire #ajout-id-existant {
  font-size: 14px;
  color: #FF2646;
  margin-top: 10px;
}

#page-identification #pan-ajout-gestionnaire #ajout-success {
  color: #26FF26;
}

#nav-gauche {
  height: 100%;
  width: 230px;
  background-color: #1E1E1E;
  display: block;
  text-align: left;
  color: #ececec;
  position: absolute;
  border-right: 1px #121212;
}

#nav-gauche .onglet-profil {
  width: 80%;
  height: 35px;
  margin: 15px;
  padding: 5px;
  background-color: #4285F4;
  border-radius: 2px;
}

#nav-gauche .onglet-profil:hover {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

#nav-gauche .onglet-profil span {
  font-weight: 600;
  font-size: 20px;
  padding-left: 15%;
}

#nav-gauche .onglet-profil span:hover {
  cursor: pointer;
}

#nav-gauche .onglet-profil img {
  margin-left: 25%;
  padding-top: 5px;
  width: 20px;
  height: 20px;
}

#nav-gauche .onglet-profil img:hover {
  cursor: pointer;
}

#nav-gauche .new-annonce, #nav-gauche .new-conseil {
  width: 100%;
  height: 35px;
  font-size: 16px;
  margin-bottom: 2px;
  background-color: transparent;
  border: none;
  color: #F9F9F9;
  text-align: left;
  padding-left: 32px;
}

#nav-gauche .new-annonce:hover, #nav-gauche .new-conseil:hover {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-color: #4285F4;
  cursor: pointer;
}

#nav-gauche .new-conseil {
  margin-bottom: 15px;
}

#nav-gauche .onglets, #nav-gauche .onglet-selected {
  width: 80%;
  height: 30px;
  padding-left: 20%;
  padding-top: 8%;
  padding-bottom: 5%;
}

#nav-gauche .onglets:hover, #nav-gauche .onglet-selected:hover {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-color: #000000;
  cursor: pointer;
}

#nav-gauche .onglets .number-msg, #nav-gauche .onglet-selected .number-msg {
  position: absolute;
  left: 80%;
  margin-top: -10%;
}

#nav-gauche .onglet-selected {
  border-left: 4px solid #4285F4;
}

#nav-gauche .nb-connexions {
  font-size: 13px;
  top: 68%;
  margin-left: 15%;
  position: absolute;
}

#nav-gauche .logo {
  margin-left: 15%;
  top: 72%;
  position: absolute;
  background-color: #ececec;
  border-radius: 2px;
}

#nav-gauche .logo:hover {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-color: #4285F4;
}

#pan-profil {
  position: absolute;
  background-color: #F9F9F9;
  top: 0;
  bottom: 0;
  right: 0;
  left: 231px;
  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

#pan-profil h1 {
  position: absolute;
  left: 42%;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 5px solid #4285F4;
}

#pan-profil #pan-profil-interieur {
  width: 100%;
  height: 85%;
  background-color: #1E1E1E;
  border-radius: 2px;
  margin-top: 6.5%;
  color: #ececec;
  font-size: 19px;
}

#pan-profil #pan-profil-interieur .img-profil {
  margin-left: 15%;
  padding-top: 2.5%;
}

#pan-profil #pan-profil-interieur .img-profil img {
  width: 17%;
  height: 17%;
  border-radius: 50%;
  border: 5px solid whitesmoke;
}

#pan-profil #pan-profil-interieur .nom, #pan-profil #pan-profil-interieur .prenom {
  font-weight: 600;
  position: absolute;
  display: block;
  margin-bottom: 10px;
}

#pan-profil #pan-profil-interieur .nom {
  font-size: 30px;
  left: 38%;
  top: 24%;
}

#pan-profil #pan-profil-interieur .prenom {
  font-size: 26px;
  left: 38%;
  top: 32%;
}

#pan-profil #pan-profil-interieur .zone-infos {
  width: 27%;
  position: absolute;
  left: 12%;
}

#pan-profil #pan-profil-interieur .zone-infos .infos-user {
  margin-top: 2%;
}

#pan-profil #pan-profil-interieur .zone-infos .input-infos {
  width: 100%;
  height: 23px;
  margin-top: 5px;
  padding: 5px;
  font-size: 17px;
}

#pan-profil #pan-profil-interieur .zone-mdp {
  width: 27%;
  position: absolute;
  left: 45%;
}

#pan-profil #pan-profil-interieur .zone-mdp .mdp-user {
  margin-top: 2%;
}

#pan-profil #pan-profil-interieur .zone-mdp .input-mdp {
  width: 100%;
  height: 23px;
  margin-top: 5px;
  padding: 5px;
  font-size: 17px;
}

#pan-profil #pan-profil-interieur .required-input {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 57%;
  top: 6.5%;
}

#pan-profil #pan-profil-interieur [type="submit"] {
  width: 130px;
  height: 40px;
  position: absolute;
  left: 45%;
  top: 82%;
  border: none;
  font-size: 16px;
  background-color: #4285F4;
  color: #F9F9F9;
  border-radius: 2px;
}

#pan-profil #pan-profil-interieur [type="submit"]:hover {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #F9F9F9;
  color: #1E1E1E;
  cursor: pointer;
}

#pan-profil #pan-profil-interieur #success, #pan-profil #pan-profil-interieur #error {
  font-size: 15px;
  position: absolute;
  left: 12%;
  top: 82%;
}

#pan-profil #pan-profil-interieur #success {
  color: #26FF26;
}

#pan-profil #pan-profil-interieur #error {
  color: #FF2646;
}

#pan-content {
  position: absolute;
  background-color: #F9F9F9;
  top: 0;
  bottom: 0;
  right: 0;
  left: 230px;
  overflow: hidden;
}

#pan-content #barre-refresh {
  width: 260px;
  height: 35px;
  background-color: whitesmoke;
  position: absolute;
  top: -1px;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

#pan-content #barre-refresh img {
  width: 15px;
  height: 15px;
  position: absolute;
  margin-top: 10px;
  margin-left: 15%;
}

#pan-content #barre-refresh img:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

#pan-content #barre-refresh em {
  position: absolute;
  margin-left: 85px;
  padding-top: 6px;
  font-weight: 600;
  font-style: normal;
  color: #4285F4;
  cursor: pointer;
}

#pan-content #barre-refresh em:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

#pan-content #liste-onglets {
  width: 260px;
  position: absolute;
  bottom: 0;
  top: 35px;
  border-right: 1px solid lightgrey;
  background-color: whitesmoke;
  overflow: hidden;
  overflow-y: auto;
}

#pan-content #liste-onglets .onglet-msg-selected, #pan-content #liste-onglets .onglet-msg, #pan-content #liste-onglets .onglet-non-lu {
  height: 75px;
  width: 100%;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid lightgrey;
}

#pan-content #liste-onglets .onglet-msg-selected:hover, #pan-content #liste-onglets .onglet-msg:hover, #pan-content #liste-onglets .onglet-non-lu:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

#pan-content #liste-onglets .onglet-msg-selected #date-reception, #pan-content #liste-onglets .onglet-msg #date-reception, #pan-content #liste-onglets .onglet-non-lu #date-reception {
  font-size: 12px;
  position: absolute;
  margin-left: 170px;
  margin-top: 14px;
}

#pan-content #liste-onglets .onglet-msg-selected h9, #pan-content #liste-onglets .onglet-msg-selected h10, #pan-content #liste-onglets .onglet-msg h9, #pan-content #liste-onglets .onglet-msg h10, #pan-content #liste-onglets .onglet-non-lu h9, #pan-content #liste-onglets .onglet-non-lu h10 {
  position: absolute;
  margin-left: 22px;
}

#pan-content #liste-onglets .onglet-msg-selected h9, #pan-content #liste-onglets .onglet-msg h9, #pan-content #liste-onglets .onglet-non-lu h9 {
  font-size: 15px;
  font-weight: bold;
  color: #4285F4;
  margin-top: 12px;
}

#pan-content #liste-onglets .onglet-msg-selected h10, #pan-content #liste-onglets .onglet-msg h10, #pan-content #liste-onglets .onglet-non-lu h10 {
  font-size: 14px;
  margin-top: 40px;
}

#pan-content #liste-onglets .onglet-msg-selected {
  background-color: #4285F4;
}

#pan-content #liste-onglets .onglet-msg-selected h9, #pan-content #liste-onglets .onglet-msg-selected h10, #pan-content #liste-onglets .onglet-msg-selected #date-reception {
  color: #ececec;
}

#pan-content #liste-onglets .onglet-non-lu::after {
  content: "";
  position: absolute;
  height: 75px;
  background-color: #4285F4;
  width: 4px;
}

#pan-content #barre-actions {
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  left: 261px;
  border-bottom: 1px solid lightgrey;
}

#pan-content #barre-actions [type="button"] {
  width: 115px;
  height: 35px;
  margin-top: 7.5px;
  margin-left: 50px;
  background-color: #4285F4;
  color: #ececec;
  border: none;
  border-radius: 2px;
}

#pan-content #barre-actions [type="button"]:hover {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

#pan-content #pan-demande {
  position: absolute;
  right: 0;
  top: 51px;
  left: 261px;
  bottom: 0;
  padding: 20px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: whitesmoke;
}

#pan-content #pan-demande fieldset {
  border: none;
}

#pan-content #pan-demande fieldset #date-demande {
  font-size: 13px;
  color: grey;
  position: absolute;
  right: 50px;
  top: 20px;
}

#pan-content #pan-demande fieldset legend {
  font-weight: bold;
  color: #4285F4;
  border-bottom: 2px solid #4285F4;
}

#pan-content #pan-demande fieldset em {
  font-weight: 600;
  color: #4285F4;
  cursor: pointer;
}

#pan-content #pan-demande fieldset #cle {
  font-size: 25px;
  font-weight: 600;
}

#pan-content #barre-envoi {
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid lightgray;
}

#pan-content #barre-envoi .btn-new-annonce-conseil {
  width: 115px;
  height: 35px;
  margin-top: 7.5px;
  margin-left: 50px;
  background-color: #4285F4;
  color: #ececec;
  border: none;
  border-radius: 2px;
}

#pan-content #barre-envoi .btn-new-annonce-conseil:hover {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

#pan-content #objet-new-conseil {
  height: 65px;
  position: absolute;
  top: 51px;
  right: 0;
  left: 0;
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  border-bottom: 1px solid lightgray;
}

#pan-content #objet-new-conseil fieldset {
  border: none;
}

#pan-content #objet-new-conseil fieldset legend {
  font-weight: bold;
  font-size: 22px;
  color: #4285F4;
  border-bottom: 2px solid #4285F4;
}

#pan-content #objet-new-conseil fieldset [name='input-objet-conseil'] {
  width: 80%;
  height: 25px;
  padding: 0.5%;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  font-size: 17px;
  position: absolute;
  top: 15px;
  left: 115px;
}

#pan-content #objet-new-conseil fieldset .user-concernes {
  font-size: 14px;
  color: gray;
  margin-top: 10px;
}

#pan-content #write-conseil {
  width: 93%;
  min-width: 50%;
  padding: 3%;
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 147px;
  border: none;
  resize: none;
  overflow-y: auto;
  outline: 0;
}

#pan-content #zone-saisie-annonce {
  height: 285px;
  position: absolute;
  top: 51px;
  right: 0;
  left: 0;
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  border-bottom: 1px solid lightgray;
  background-color: white;
}

#pan-content #zone-saisie-annonce #carteHG {
  width: 225px;
  height: 225px;
  position: absolute;
  right: 10%;
  top: 25px;
}

#pan-content #zone-saisie-annonce fieldset {
  border: none;
}

#pan-content #zone-saisie-annonce fieldset legend {
  font-weight: bold;
  font-size: 20px;
  color: #4285F4;
  border-bottom: 2px solid #4285F4;
  margin-bottom: 15px;
}

#pan-content #zone-saisie-annonce fieldset .champs-annonce {
  margin-top: 8px;
}

#pan-content #zone-saisie-annonce fieldset .rechercheActivite, #pan-content #zone-saisie-annonce fieldset .rechercheCommune, #pan-content #zone-saisie-annonce fieldset .select-zone {
  height: 22px;
  width: 15%;
  padding: 2.5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 1%;
}

#pan-content #zone-saisie-annonce fieldset #align-activite {
  font-weight: bold;
  margin-right: 15px;
}

#pan-content #zone-saisie-annonce fieldset #align-commune {
  font-weight: bold;
  margin-right: 6px;
}

#pan-content #zone-saisie-annonce fieldset #align-zone {
  font-weight: bold;
  margin-right: 42px;
}

#pan-content #zone-saisie-annonce fieldset .select-zone {
  height: 30px;
  width: 16%;
}

#pan-content #zone-saisie-annonce fieldset .select-all, #pan-content #zone-saisie-annonce fieldset [name="mail"] {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 25%;
  margin-top: 5px;
}

#pan-content #zone-saisie-annonce fieldset [type="checkbox"] {
  cursor: pointer;
}

#pan-content #objet-new-annonce {
  height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  top: 367px;
  padding-top: 10px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 25px;
  border-bottom: 1px solid lightgray;
}

#pan-content #objet-new-annonce fieldset {
  border: none;
}

#pan-content #objet-new-annonce fieldset legend {
  font-weight: bold;
  font-size: 20px;
  color: #4285F4;
  border-bottom: 2px solid #4285F4;
}

#pan-content #objet-new-annonce fieldset [name='input-objet-annonce'] {
  width: 80%;
  height: 25px;
  padding: 0.5%;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  font-size: 17px;
  position: absolute;
  top: 15px;
  left: 115px;
}

#pan-content #write-annonce {
  width: 95%;
  padding: 2%;
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 15px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 434px;
  border: none;
  resize: none;
  overflow-y: auto;
  outline: 0;
}

#zone-annonce-conseil {
  height: 65px;
  position: absolute;
  background-color: #F9F9F9;
  top: 51px;
  bottom: 0;
  right: 0;
  left: 261px;
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  border-bottom: 1px solid lightgray;
}

#zone-annonce-conseil fieldset {
  border: none;
}

#zone-annonce-conseil fieldset #date-msg {
  font-size: 13px;
  color: grey;
  position: absolute;
  right: 50px;
  top: 20px;
}

#zone-annonce-conseil fieldset legend {
  font-weight: bold;
  font-size: 22px;
  color: #4285F4;
  border-bottom: 2px solid #4285F4;
}

#zone-annonce-conseil fieldset .user-concernes {
  font-size: 14px;
  color: gray;
  margin-top: 10px;
}

#affichage-texte {
  position: absolute;
  top: 147px;
  bottom: 0;
  left: 261px;
  right: 0;
  padding-top: 15px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 30px;
  overflow: auto;
}

#zone-msg {
  position: absolute;
  top: 51px;
  bottom: 0;
  left: 261px;
  right: 0;
  padding: 20px;
  padding-left: 35px;
  padding-right: 35px;
}

#zone-msg #zone-infos-prive {
  height: 165px;
  position: absolute;
  background-color: #F9F9F9;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 7px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  border-bottom: 1px solid lightgray;
}

#zone-msg #zone-infos-prive fieldset {
  border: none;
}

#zone-msg #zone-infos-prive legend {
  font-weight: bold;
  font-size: 22px;
  color: #4285F4;
  border-bottom: 2px solid #4285F4;
  margin-bottom: 10px;
}

#zone-msg #zone-infos-prive p {
  margin-bottom: 5px;
}

#zone-msg #zone-discussion {
  position: absolute;
  top: 188px;
  bottom: 120px;
  left: 0;
  right: 0;
  padding: 20px;
  padding-left: 35px;
  padding-right: 35px;
  overflow: auto;
}

#zone-msg #zone-discussion .msg-force, #zone-msg #zone-discussion .msg-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
  max-width: 50%;
  margin-bottom: 15px;
  border-radius: 5px;
  color: #ececec;
}

#zone-msg #zone-discussion .msg-user {
  background-color: #DB4437;
}

#zone-msg #zone-discussion .msg-force {
  background-color: #4285F4;
  margin-left: 45%;
}

#zone-msg #zone-reponse {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 110px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid lightgrey;
  z-index: 10;
}

#zone-msg #zone-reponse fieldset {
  border: none;
}

#zone-msg #zone-reponse fieldset legend {
  font-weight: bold;
  font-size: 15px;
  color: #4285F4;
  margin-bottom: 5px;
}

#zone-msg #zone-reponse #reponse-msg {
  width: 89.5%;
  height: 75px;
  resize: none;
  font-size: 16px;
  padding: 2px;
  padding-left: 5px;
  padding-left: 5px;
}

#zone-msg #zone-reponse [name="envoyer-msg"] {
  width: 10%;
  height: 45px;
  position: absolute;
  right: 2px;
  margin-left: 3px;
  background-color: #4285F4;
  color: #ececec;
  border: none;
}

#zone-msg #zone-reponse [name="envoyer-msg"]:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
/*# sourceMappingURL=style.css.map */