@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Titillium+Web:wght@400;600;700&display=swap");
:root {
  --background-color: #dddddd;
  --page-content: #FAF9F8;
  --font-color: #121212;
  --date-color: #808080;
  --white-color: #f5f5f5;
  --blue-color: #0078D7;
  --button-hover: #005A9E;
  --error-color: #E81123;
  --success-color: #00CC6A;
  --panel-color: #f5f5f5;
  --page-content: #FAF9F8;
  --border-color: #dadada;
  --shadow-color: #b4b4b4;
  --input-border: #dadada;
  --hover-img: #dddddd;
  --nav-background: #f5f5f5;
  --nav-onglet-font: #2236449a;
  --nav-hover-bg: #e7e7e7d0;
  --nav-select-bg: #dadada;
  --msg-background: #fff;
  --msg-block: #dadada;
}

.dark {
  --background-color: #100E17;
  --page-content: #17141D;
  --font-color: #f5f5f5;
  --date-color: #9E9E9E;
  --white-color: #f5f5f5;
  --blue-color: #0091EA;
  --button-hover: #005A9E;
  --error-color: #FF2646;
  --success-color: #26FF26;
  --panel-color: #17141D;
  --page-content: #17141D;
  --border-color: #000;
  --shadow-color: #000;
  --input-border: #eeeeee;
  --hover-img: #ddddddce;
  --nav-background: #100E17;
  --nav-onglet-font: #ffffff9a;
  --nav-hover-bg: #000;
  --nav-select-bg: #5fa1d61e;
  --msg-background: #100E17;
  --msg-block: #303030;
}

@-webkit-keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  opacity: 0.5;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue-color);
  border-radius: 2.5px;
  opacity: 0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue-color);
  opacity: 0.5;
}

/* ========== MAIN CODE =========== */
* {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: var(--font-color);
  word-break: break-word;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

* img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
  /* 1 rem = 10px */
  scroll-behavior: smooth;
  /* scrollbar smooth */
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2.0rem;
}

/* titre des demandes / msg / annonces / conseils */
legend {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--blue-color);
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 1000px;
  min-height: 600px;
  overflow: auto;
}

.switch-mode {
  position: fixed;
  right: 1%;
  top: 0.5%;
  font-size: 2rem;
  z-index: 100;
  padding: 5px 7px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  cursor: pointer;
}

.ui-autocomplete {
  position: absolute;
  cursor: default;
}

/* Menu -----------------------*/
.ui-menu {
  background: var(--nav-background);
  list-style: none;
  padding: 10px;
  margin: 0;
  display: block;
  width: 227px;
  border: 2px solid var(--border-color);
}

.ui-menu .ui-menu {
  margin-top: -3px;
}

.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  width: 100%;
}

.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: .2em .4em;
  line-height: 1.5;
  zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  margin: -1px;
}

.input-infos, .input-mdp, [name='input-objet-conseil'], [name='input-objet-annonce'] {
  padding: 6.5px 8px;
  border: 2px solid var(--border-color);
  background-color: var(--nav-background);
}

#pan-identification [name="id"], #pan-identification [name="mdp"], [name="mdpAdmin"], .input-new-gestionnaire {
  padding: 10px 0 7.5px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--input-border);
}

.btn-admin {
  background-color: var(--panel-color);
  padding: 7.5px 15px;
  border: none;
  border-radius: 0px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 5px 1px var(--shadow-color);
          box-shadow: 0 0 5px 1px var(--shadow-color);
}

.btn-admin:hover {
  cursor: pointer;
  background-color: var(--blue-color);
  color: var(--white-color);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-id, .btn-profil, .actions, .new-annonce, .new-conseil, .btn-new-annonce-conseil, [name="envoyer-msg"] {
  padding: 7.5px;
  border: none;
  font-weight: 600;
  color: var(--white-color);
  background-color: var(--blue-color);
  -webkit-box-shadow: 0px 2.5px 0px var(--shadow-color);
          box-shadow: 0px 2.5px 0px var(--shadow-color);
}

.button-id:hover, .btn-profil:hover, .actions:hover, .new-annonce:hover, .new-conseil:hover, .btn-new-annonce-conseil:hover, [name="envoyer-msg"]:hover {
  cursor: pointer;
  background-color: var(--button-hover);
  color: var(--white-color);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* ========== IDENTIFICATION =========== */
#page-identification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-identification .pan-chambres, #page-identification .pan-forces {
  background-color: var(--panel-color);
  padding: 25px;
  margin: 25vh 5vh 5vh;
  -webkit-box-shadow: 0 0 10px 2px var(--shadow-color);
          box-shadow: 0 0 10px 2px var(--shadow-color);
}

#page-identification .pan-chambres h1, #page-identification .pan-forces h1 {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

#page-identification .pan-chambres h1 em, #page-identification .pan-forces h1 em {
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
  color: var(--blue-color);
}

#page-identification .pan-chambres img, #page-identification .pan-forces img {
  width: 200px;
  margin: 10px 2.5px 0;
  padding: 10px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 0 5px 1px var(--shadow-color);
          box-shadow: 0 0 5px 1px var(--shadow-color);
}

#page-identification .pan-chambres img:hover, #page-identification .pan-forces img:hover {
  cursor: pointer;
  background-color: var(--hover-img);
  color: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#page-identification #pan-identification {
  width: 385px;
  background-color: var(--panel-color);
  padding: 55px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 10px 2px var(--shadow-color);
          box-shadow: 0 0 10px 2px var(--shadow-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-identification #pan-identification img {
  width: 225px;
  padding: 15px;
  border-radius: 50%;
  background-color: #f5f5f5;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 0 5px 1px var(--shadow-color);
          box-shadow: 0 0 5px 1px var(--shadow-color);
}

#page-identification #pan-identification img:hover {
  cursor: pointer;
  background-color: var(--hover-img);
  color: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#page-identification #pan-identification label {
  float: left;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 12px;
}

#page-identification #pan-identification [name="id"], #page-identification #pan-identification [name="mdp"] {
  width: 100%;
  font-size: 1.6rem;
  margin: -5px 0 5px;
}

#page-identification #pan-identification #login-failed {
  color: var(--error-color);
  font-size: 1.25rem;
  margin: 5px 0 -10px;
  text-align: left;
}

#page-identification #pan-identification .buttons-id {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-identification #pan-identification .buttons-id .button-id {
  width: 45%;
  padding: 10px;
  margin-top: 25px;
}

#page-identification #pan-identification .buttons-id [value="Retour"] {
  background-color: var(--background-color);
  color: var(--font-color);
}

#page-identification #pan-connexion-admin {
  width: 400px;
  background-color: var(--panel-color);
  padding: 35px 50px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 10px 2px var(--shadow-color);
          box-shadow: 0 0 10px 2px var(--shadow-color);
}

#page-identification #pan-connexion-admin label {
  float: left;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 17.5px;
}

#page-identification #pan-connexion-admin [name="mdpAdmin"] {
  width: 100%;
  font-size: 1.6rem;
  margin-top: -5px;
}

#page-identification #pan-connexion-admin #error {
  font-size: 1.3rem;
  margin-top: 15px;
  text-align: center;
  color: var(--error-color);
}

#page-identification #pan-connexion-admin .button-id {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}

#page-identification #pan-ajout-gestionnaire {
  width: 450px;
  background-color: var(--panel-color);
  padding: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-shadow: 0 0 10px 2.5px var(--shadow-color);
          box-shadow: 0 0 10px 2.5px var(--shadow-color);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#page-identification #pan-ajout-gestionnaire h1 {
  display: block;
  font-size: 2.0rem;
  text-align: center;
}

#page-identification #pan-ajout-gestionnaire select {
  padding: 5px 8px;
  color: var(--font-color);
  background-color: var(--nav-background);
  border: 2px solid var(--border-color);
  font-size: 1.6rem;
  margin-top: 20px;
  border-radius: 0px;
}

#page-identification #pan-ajout-gestionnaire label {
  float: left;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 17.5px;
}

#page-identification #pan-ajout-gestionnaire .input-new-gestionnaire {
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 5px;
}

#page-identification #pan-ajout-gestionnaire .button-id {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
}

#page-identification #pan-ajout-gestionnaire #ajout-success, #page-identification #pan-ajout-gestionnaire #ajout-failed, #page-identification #pan-ajout-gestionnaire #ajout-mdp-different, #page-identification #pan-ajout-gestionnaire #ajout-id-existant {
  font-size: 1.3rem;
  margin-top: 20px;
  text-align: center;
  color: var(--error-color);
}

#page-identification #pan-ajout-gestionnaire #ajout-success {
  color: var(--success-color);
}

/* ========== NAV GAUCHE =========== */
#nav-gauche {
  width: 225px;
  height: 100vh;
  background-color: var(--nav-background);
  border-right: 1px solid var(--border-color);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-gauche .onglet-profil {
  width: 100%;
  height: 53px;
  background-color: var(--blue-color);
  -webkit-box-shadow: 0px 0px 15px -5px var(--blue-color);
          box-shadow: 0px 0px 15px -5px var(--blue-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

#nav-gauche .onglet-profil span {
  color: var(--white-color);
  font-weight: 600;
  font-size: 1.8rem;
  margin-right: 40%;
  cursor: pointer;
}

#nav-gauche .onglet-profil img {
  width: 18px;
  margin-bottom: 2.5px;
  cursor: pointer;
}

#nav-gauche .new-annonce, #nav-gauche .new-conseil {
  width: 75%;
  padding: 10px;
  margin: 15px 0 15px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  border-radius: 0px;
}

#nav-gauche .new-annonce:hover, #nav-gauche .new-conseil:hover {
  width: 100%;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background-color: var(--blue-color);
}

#nav-gauche .new-annonce {
  margin-bottom: 0;
}

#nav-gauche .new-conseil {
  margin-top: 5px;
}

#nav-gauche .onglets, #nav-gauche .onglet-selected {
  width: 100%;
  background-color: transparent;
  padding: 12.5px;
  font-weight: 600;
  color: var(--nav-onglet-font);
  padding-left: 30px;
}

#nav-gauche .onglets:hover, #nav-gauche .onglet-selected:hover {
  cursor: pointer;
  background-color: var(--nav-hover-bg);
  color: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#nav-gauche .onglets .number-msg, #nav-gauche .onglet-selected .number-msg {
  float: right;
  margin-right: 10px;
  color: var(--nav-onglet-font);
}

#nav-gauche .onglet-selected {
  background-color: var(--nav-select-bg);
  color: var(--font-color);
  border-left: 4px solid var(--blue-color);
  padding-left: 26px;
}

#nav-gauche .onglet-selected .number-msg {
  color: var(--blue-color);
}

#nav-gauche .nb-connexions {
  font-size: 1.4rem;
  position: absolute;
  bottom: 3%;
}

#nav-gauche .logo {
  position: absolute;
  bottom: 5%;
}

/* ========== PROFILE =========== */
#pan-profil {
  background-color: var(--page-content);
  text-align: left;
  position: absolute;
  left: 225px;
  top: 0;
  right: 0;
  bottom: 0;
}

#pan-profil .block-titre {
  height: 15%;
  padding-top: 2%;
  text-align: center;
  color: var(--white-color);
  background-color: var(--blue-color);
  -webkit-box-shadow: 0px 0px 20px -5px var(--blue-color);
          box-shadow: 0px 0px 20px -5px var(--blue-color);
  font-size: 2.5rem;
  font-weight: 600;
}

#pan-profil form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#pan-profil form #pan-photo {
  margin: 7.5% 2.5% 0 7.5%;
  text-align: center;
}

#pan-profil form #pan-photo .img-profil img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 25px;
}

#pan-profil form #pan-photo h1 {
  font-size: 2.5rem;
  font-weight: normal;
  color: var(--font-color);
  display: block;
}

#pan-profil form .zone-infos, #pan-profil form .zone-mdp {
  width: 25%;
  margin: 7.5% 2.5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#pan-profil form .zone-infos p, #pan-profil form .zone-mdp p {
  font-size: 1.85rem;
  color: var(--blue-color);
  font-weight: 600;
}

#pan-profil form .zone-infos .fas, #pan-profil form .zone-mdp .fas {
  margin-left: 12px;
  color: var(--error-color);
}

#pan-profil form .zone-infos #success, #pan-profil form .zone-infos #error, #pan-profil form .zone-mdp #success, #pan-profil form .zone-mdp #error {
  font-size: 1.5rem;
  font-weight: normal;
  display: block;
  margin-top: 15px;
  color: var(--error-color);
}

#pan-profil form .zone-infos #success, #pan-profil form .zone-mdp #success {
  color: var(--success-color);
}

#pan-profil form .zone-infos .input-infos, #pan-profil form .zone-infos .input-mdp, #pan-profil form .zone-mdp .input-infos, #pan-profil form .zone-mdp .input-mdp {
  width: 100%;
  font-size: 1.65rem;
  margin: 2% 0 4%;
}

#pan-profil form .zone-infos .btn-profil, #pan-profil form .zone-mdp .btn-profil {
  width: 50%;
  padding: 10px;
  margin-top: 4%;
}

/* ========== PAN DEMANDES / MESSAGES =========== */
#pan-content {
  background-color: var(--page-content);
  position: absolute;
  left: 225px;
  right: 0;
  top: 0;
  bottom: 0;
}

#pan-content #liste-onglets {
  width: 275px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--page-content);
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  overflow-y: auto;
}

#pan-content #liste-onglets #barre-refresh {
  background-color: var(--nav-background);
  padding: 5px;
  border-bottom: 1px solid var(--border-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pan-content #liste-onglets #barre-refresh i, #pan-content #liste-onglets #barre-refresh em {
  font-style: normal;
  color: var(--blue-color);
  font-weight: 600;
  margin: 0 25px 0 0px;
}

#pan-content #liste-onglets #barre-refresh i:hover, #pan-content #liste-onglets #barre-refresh em:hover {
  cursor: pointer;
  background-color: none;
  color: var(--font-color);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#pan-content #liste-onglets .onglet-msg, #pan-content #liste-onglets .onglet-msg-selected, #pan-content #liste-onglets .onglet-non-lu {
  width: 100%;
  padding: 12.5px 15px;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
}

#pan-content #liste-onglets .onglet-msg #date-reception, #pan-content #liste-onglets .onglet-msg-selected #date-reception, #pan-content #liste-onglets .onglet-non-lu #date-reception {
  color: var(--date-color);
  font-size: 1.2rem;
  float: right;
  margin-right: 5px;
}

#pan-content #liste-onglets .onglet-msg h9, #pan-content #liste-onglets .onglet-msg-selected h9, #pan-content #liste-onglets .onglet-non-lu h9 {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--blue-color);
}

#pan-content #liste-onglets .onglet-msg h10, #pan-content #liste-onglets .onglet-msg-selected h10, #pan-content #liste-onglets .onglet-non-lu h10 {
  font-size: 1.4rem;
  color: var(--font-color);
}

#pan-content #liste-onglets .onglet-msg:hover, #pan-content #liste-onglets .onglet-non-lu:hover {
  cursor: pointer;
  background-color: var(--nav-hover-bg);
  color: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#pan-content #liste-onglets .onglet-non-lu {
  border-left: 4px solid var(--blue-color);
}

#pan-content #liste-onglets .onglet-msg-selected {
  background-color: var(--blue-color);
}

#pan-content #liste-onglets .onglet-msg-selected #date-reception, #pan-content #liste-onglets .onglet-msg-selected h9, #pan-content #liste-onglets .onglet-msg-selected h10 {
  color: var(--white-color);
}

#pan-content #barre-actions, #pan-content #barre-envoi {
  background-color: var(--nav-background);
  position: absolute;
  left: 275px;
  right: 0;
  top: 0;
  padding: 7.5px 25px 7.5px;
  border-bottom: 1px solid var(--border-color);
}

#pan-content #barre-actions .actions, #pan-content #barre-actions .btn-new-annonce-conseil, #pan-content #barre-envoi .actions, #pan-content #barre-envoi .btn-new-annonce-conseil {
  width: 125px;
  margin-right: 25px;
}

#pan-content #barre-envoi {
  left: 0px;
}

#pan-content #pan-demande, #pan-content #zone-annonce-conseil {
  position: absolute;
  left: 275px;
  right: 0;
  top: 54px;
  bottom: 0;
  padding: 15px 25px 20px;
  overflow-y: auto;
}

#pan-content #pan-demande fieldset {
  border: none;
  padding-bottom: 15px;
}

#pan-content #pan-demande fieldset b {
  font-weight: 600;
}

#pan-content #pan-demande fieldset label {
  display: block;
  margin-bottom: 20px;
  cursor: text;
}

#pan-content #pan-demande fieldset label i {
  margin-left: 10px;
  color: var(--blue-color);
}

#pan-content #pan-demande fieldset time {
  float: right;
  margin-top: -23px;
  font-size: 1.3rem;
  color: var(--date-color);
}

#pan-content #pan-demande fieldset #cle {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 10px;
}

#pan-content #zone-msg {
  position: absolute;
  left: 275px;
  right: 0;
  top: 54px;
  bottom: 0;
}

#pan-content #zone-msg #zone-infos-prive {
  width: 100%;
  padding: 15px 25px 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  z-index: 100;
  border-bottom: 1px solid var(--border-color);
}

#pan-content #zone-msg #zone-infos-prive fieldset {
  border: none;
}

#pan-content #zone-msg #zone-infos-prive fieldset p {
  display: block;
  margin-top: 7.5px;
}

#pan-content #zone-msg #zone-discussion {
  width: 100%;
  padding: 20px 25px;
  position: absolute;
  left: 0;
  right: 0;
  top: 223px;
  bottom: 100px;
  background-color: var(--msg-background);
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

#pan-content #zone-msg #zone-discussion .msg-force, #pan-content #zone-msg #zone-discussion .msg-user {
  padding: 15px 20px;
  margin-bottom: 15px;
  max-width: 60%;
  border-radius: 5px;
}

#pan-content #zone-msg #zone-discussion .msg-force {
  background-color: var(--blue-color);
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: var(--white-color);
}

#pan-content #zone-msg #zone-discussion .msg-user {
  background-color: var(--msg-block);
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: var(--font-color);
}

#pan-content #zone-msg #zone-reponse {
  width: 100%;
  height: 110px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  background-color: var(--msg-background);
}

#pan-content #zone-msg #zone-reponse .write-msg {
  position: absolute;
  left: 25px;
  right: 155px;
  bottom: 10px;
  top: 10px;
}

#pan-content #zone-msg #zone-reponse .write-msg textarea {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  padding: 6.5px 8px;
  border: 2px solid var(--border-color);
  background-color: var(--msg-block);
  resize: none;
}

#pan-content #zone-msg #zone-reponse [name="envoyer-msg"] {
  position: absolute;
  right: 25px;
  top: 11px;
  width: 125px;
  padding: 10px;
}

#pan-content #zone-annonce-conseil fieldset {
  border: none;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

#pan-content #zone-annonce-conseil fieldset time {
  float: right;
  margin-top: -23px;
  font-size: 1.3rem;
  color: var(--date-color);
}

#pan-content #zone-annonce-conseil fieldset .user-concernes {
  font-size: 1.4rem;
  color: var(--date-color);
}

#pan-content #objet-new-conseil, #pan-content #objet-new-annonce {
  position: absolute;
  left: 0px;
  right: 0;
  top: 54px;
  bottom: 0;
  padding: 15px 25px 20px;
}

#pan-content #objet-new-conseil fieldset, #pan-content #objet-new-annonce fieldset {
  border: none;
}

#pan-content #objet-new-conseil fieldset .user-concernes, #pan-content #objet-new-annonce fieldset .user-concernes {
  font-size: 1.4rem;
  color: var(--date-color);
}

#pan-content #objet-new-conseil fieldset [name='input-objet-conseil'], #pan-content #objet-new-conseil fieldset [name='input-objet-annonce'], #pan-content #objet-new-annonce fieldset [name='input-objet-conseil'], #pan-content #objet-new-annonce fieldset [name='input-objet-annonce'] {
  width: 100%;
  font-size: 1.65rem;
  margin-top: 5px;
  outline: none;
}

#pan-content #zone-saisie-annonce {
  position: absolute;
  left: 0px;
  right: 0;
  top: 54px;
  bottom: 0;
  padding: 15px 25px 20px;
}

#pan-content #zone-saisie-annonce fieldset {
  border: none;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--border-color);
}

#pan-content #zone-saisie-annonce fieldset .champs-annonce {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pan-content #zone-saisie-annonce fieldset .champs-annonce .titre-categorie {
  display: block;
  width: 85px;
}

#pan-content #zone-saisie-annonce fieldset .champs-annonce .select-categorie {
  display: block;
  width: 235px;
}

#pan-content #zone-saisie-annonce fieldset .champs-annonce [type="text"], #pan-content #zone-saisie-annonce fieldset .champs-annonce select {
  width: 16%;
  margin: 0 15px;
  padding: 5px 8px;
  background-color: var(--nav-background);
  border: 2px solid var(--border-color);
}

#pan-content #zone-saisie-annonce fieldset .champs-annonce [type="checkbox"] {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

#pan-content #zone-saisie-annonce img {
  width: 200px;
  float: right;
  margin-top: -282px;
}

@media (max-width: 999px) {
  #pan-content #zone-saisie-annonce img {
    display: none;
  }
  #pan-content #zone-saisie-annonce fieldset .champs-annonce [type="text"], #pan-content #zone-saisie-annonce fieldset .champs-annonce select {
    width: 30%;
  }
}

#pan-content #zone-saisie-annonce #objet-new-annonce {
  top: 330px;
}

#pan-content #write-conseil, #pan-content #write-annonce {
  position: absolute;
  left: 0px;
  right: 0;
  top: 180px;
  bottom: 0;
  padding: 0px 25px 25px;
}

#pan-content #write-conseil textarea, #pan-content #write-annonce textarea {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  padding: 6.5px 8px;
  border: 2px solid var(--border-color);
  background-color: var(--nav-background);
  outline: none;
  resize: none;
}

#pan-content #write-annonce {
  top: 510px;
}
/*# sourceMappingURL=style.css.map */