*.iml
.gradle
Android/app/local.properties
Android/app/.idea
Android/app/gradle
Android/app/build
Android/app/gradlew
Android/app/gradlew.bat
Android/local.properties
Android/.idea
Android/gradle
Android/build
.DS_Store
.externalNativeBuild
Web/vendor