*
{
    font-family: Arial;
}

html, body { 
    min-width: 1200px;
    min-height: 100vh;
	margin:0; 
    padding:0; 
    background-color: white;
}

header{
    height: 42px;
    padding-top: 2px;
    padding-bottom: 15px;
    margin-top: -5px;
    background-color: #0073CC;
    text-align:right;/*texte centré*/
}

body
{
    background-color: white; /* couleur background */
    color: #151515; /* couleur texte */
    overflow: auto;
}

/* mon profil */
h1
{
    margin-left: 10px;
    color: #0073CC;
}

/* identification */
h2
{
    font-size: 26px;
    margin-top: 30px;
}


/* =============== HEADER =============== */

/* bouton profil */
.profil
{
    height: 28px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    margin-right: 60px;
    margin-top: 20px;
    cursor: pointer;
}

.profil:hover
{
    color: #EDEBE9;
}

/* bouton deconnexion */
.disconnect
{
    float: right;
    color: white;
    text-align: right;
    margin-right: 24px;
    margin-top: -48px;
    padding-right: 0px;
    cursor: pointer;
}


/* =============== BARRE ACTIONS =============== */

/* barre grise contenant plusieurs actions */
#barre_actions
{
    width: auto;
    height: 40px;
    background-color: #F3F2F1;
    border-bottom: 1px solid #E1E1E1;
    padding: 3px;
}

/* bouton nouveau msg */
.new_msg
{
    font-size: 13px;
    font-weight: bold;
    width: 135px;
    height: 35px;
    color: white;
    background-color: #0073CC;
    border: 0px;
    border-radius: 2px 2px 2px;
    cursor: pointer;

    margin-top: 3px;
    margin-bottom: 0px;
    margin-left: 37px;
}

.new_msg:hover
{
    background-color: #005A9E;
}

/* case "tout sélectionner" */
.checkbox
{
    width: 16px;
    height: 16px;
    cursor: pointer;

    margin-left: 50px;
    margin-top: 0px;
}

/* bouton rafraichir */
.refresh_rapide
{
    width: 15px;
    height: 15px;
    cursor: pointer;

    margin-left: 30px;
}

.refresh_rapide:hover
{
    background-color: #C7E0F4;
}

/* mini boutons d'actions 
chambre : | accepter |  refuser  |
forces :  | repondre | supprimer |
*/
.actions_rapide
{
    width: 17px;
    height: 17px;
    cursor: pointer;

    margin-left: 35px;
}

.actions_rapide:hover
{
    background-color: #C7E0F4;
}

/* boutons d'actions (sauf premiers à gauche)
chambre : |  refuser  | supprimer |
forces  : | supprimer |
*/
.actions
{
    width: 100px;
    height: 34px;
    background-color: white;
    color: #0073CC;
    border: 1px solid #E1E1E1;
    border-radius: 2px 2px 2px;
    cursor: pointer;

    margin-left: 15px;
}

.actions:hover
{
    background-color: #C7E0F4;
}

/* bouton accepter (le premier bouton à gauche - chambre) */
.accepter
{
    width: 100px;
    height: 34px;
    background-color: white;
    color: #0073CC;
    border: 1px solid #E1E1E1;
    border-radius: 2px 2px 2px;
    cursor: pointer;

    margin-left: 50px;
}

.accepter:hover
{
    background-color: #C7E0F4;
}

/* bouton répondre (le premier bouton à gauche - forces) */
.repondre
{
    width: 100px;
    height: 34px;
    background-color: white;
    color: #0073CC;
    border: 1px solid #E1E1E1;
    border-radius: 2px 2px 2px;
    cursor: pointer;

    margin-left: 50px;
}

.repondre:hover
{
    background-color: #C7E0F4;
}

/* barre grise droite (décoration) */
#deco_droite
{
    float: right;
    width: 25px;
    height: 100vh;
    min-height: 784px;
    background-color: #F3F2F1;
    border: 1px solid #E1E1E1;
    border-right: 0px;
    margin-top: -1px;
}

/* =============== CHOIX CHAMBRE =============== */

/* page d'identification */
#page_identification
{
    width: auto;
    min-height: 700px;
}

/* panel identification */
#panel_identification
{   
    margin: auto;
    width: 400px;
    height: 500px;
    background-color: #F3F2F1;
    border: 1px solid #E1E1E1;
    border-radius: 3px 3px 3px;
    text-align: center;
    margin-top: 5%;
}

#logo_ca
{
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    cursor: pointer;
}

#logo_cma
{
    float: right;
    margin-right: 20px;
    margin-top: 30px;
    cursor: pointer;
}

#logo_cci
{
    float: left;
    margin-top: 35px;
    margin-left: 65px;
    cursor: pointer;

}

#logo_police, #logo_gendarmerie
{
    padding-top: 30px;
    cursor: pointer;
}

#logo_ca:hover, #logo_cma:hover, #logo_cci:hover, #logo_police:hover, #logo_gendarmerie:hover
{
    background-color: #E1E1E1;
}


/* =============== IDENTIFICATION =============== */

/* affichage logo sélectionné */
#logo_choisi
{
    margin-top: 5px;
}

/* labels "nom d'utilisateur" et "mot de passe" */
.identifiants
{
    margin: auto;
    margin-top: 5px;
}

/* zones de saisies */
#login_username, #login_password
{
    font-size: 15px;
    width: 250px;
    height: 28px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

/* boutons retour | valider (identification) */
.bouton_id
{
    height: 35px;
    width: 100px;
    font-size: 16px;
    color: white;
    background-color: #0073CC;
    border: 0px;
    border-radius: 2px 2px 2px;
    cursor: pointer;

    margin: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.bouton_id:hover
{
    background-color: #005A9E;
}


/* =============== NAV GAUCHE =============== */

/* panel gauche
chambre :
|  En attente          |
|  Acceptées           |
|  Refusées            |
|  Corbeille           |

forces :
|  Boite de reception  |
|  Envoyés             |
|  Brouillons          |
|  Corbeille           |
*/
#nav_gauche
{
    float: left;
    width: 215px;    
    height: 100vh;
    min-height: 784px;
    background-color: #F3F2F1;
    border: 1px solid #E1E1E1;
    margin-top: -1px;
}

/* icones des categories */
.img_nav
{
    width: 17px;
    height: 17px;

    margin-bottom: -3px;
    margin-left: -35px;
    margin-right: 15px;
}

/* onglet d'une catégorie */
.onglets
{
    font-size: 15px;
    width: auto;
    height: 30px;
    color: #151515;
    background-color: #F3F2F1;
    cursor: pointer;

    padding-left: 55px;
    padding-top: 10px;

}

.onglets:hover
{
    background-color: #C7E0F4;
    color: #151515;
}

/* affichage du nombre de msgs dans une catégorie */
.number_msg
{
    font-size: 14px;
    float: right;
    margin: 0px;
    padding-right: 20px;
}

/* logo de la page en bas des onglets */
.logo
{
    margin-left: 45px;
    margin-top: 65vh;
}


/* =============== PAGE PROFIL =============== */

/* Titre "mon profil" */
#pan_profil
{
    width: auto;
    min-width: 600px;
    min-height: 783px;

    margin-bottom: -25px;
    margin-left: 200px;
    padding-top: 4px;
    padding-left: 60px;    
}

/* conteneur image de profil + nom, prenom */
#pan_nom_prenom
{
    width: auto;
    height: 250px;
    min-width: 500px;
    background-color: #EDEBE9;
    color: #101010;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #E1E1E1;

    padding-top: 25px;
    margin-right: 60px;
    margin-top: 15px;
}

.img_profil
{
    float: left;
    margin-left: 50px;
    margin-right: 50px;
}

.affichage_nom
{
    font-weight: bold;
    font-size: 35px;
}

.affichage_prenom
{
    font-weight: bold;
    font-size: 25px;
    margin-top: -20px;
}

/* conteneur des infos de l'user */
#pan_infos_user
{
    width: auto;
    height: 375px;
    min-width: 500px;
    color: #101010;
    background-color: #EDEBE9;
    border: 1px solid #E1E1E1;
    border-radius: 3px 3px 3px 3px;

    padding-top: 15px;
    padding-left: 50px;
    margin-right: 60px;
    margin-top: 20px;
}

/* labels infos :
|  Nom                   |
|  Prenom                |
|  Adresse Mail          |
|  Mot de passe          |
|  Nouveau mot de passe  |
|  Confirmation          |
*/
.infos_user
{
    width: 560px;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 15px;
}

/* zone de saisies des infos (si l'user veut modifier) */
.input_infos
{
    font-size: 15px;
    float: right;
    width: 250px;
    height: 28px;
    margin-left: 50px;
    margin-top: -5px;
}

/* bouton valider les modifications  */
.valider_infos
{
    float: right;
    height: 40px;
    width: 120px;
    font-size: 16px;
    font-weight: regular;
    color: white;
    background-color: #0073CC;
    border: 0px;
    border-radius: 2px 2px 2px;
    cursor: pointer;

    margin-top: 5px;
    margin-right: 134px;
}

.valider_infos:hover
{
    background-color: #005A9E;
}


/* =============== PAGE RECEPTION =============== */

/* conteneur de la page reception / new msg */
#pan_content
{
    width: auto;
    min-width: 600px;
    min-height: 785px;
    margin-bottom: -25px;
    margin-left: 199px;
    padding-left: 60px;
}

/* listes des msgs / demandes reçu(e)s (gauche) */
#pan_reception
{
    float: left;
    width: 225px;   
    height: 100vh;
    min-height: 784px;
    background-color: #FAF9F8;
    border-bottom: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;

    margin-top: 0px;
    margin-left: -42px;
    margin-bottom: 0px;
}

/* onglet d'un msg */
.onglet_msg
{
    width: auto;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #E1E1E1;
}

/* conteneur d'un msg lors de son ouverture */
#zone_msg
{
    width: auto;
    height: 121px;
    background-color: #FAF9F8;
    border-bottom: 1px solid #E1E1E1;
    
    margin-top: 0px;
    margin-left: 182px;
}

#objet
{
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
    padding-top: 18px;
}

.date
{
    font-size: 13px;
    float: right;
    margin-top: -18px;
    margin-right: 10px;
    color: grey;
}

#infos1, #infos2
{
    font-size: 14px;
    margin-left: 10px;
    padding-top: 15px;
}

#write_msg
{
    min-width: 75%;
    /* max-width: 78%; */
    min-height: 460px;
    resize: none;
    border: 0px;
    margin: 10px;
}


/* =============== NOUVEAU MSG =============== */

/* zone de selection des parametres du message */
#zone_saisie_infos
{
    width: auto;
    height: 290px;
    background-color: #FAF9F8;
    border-bottom: 1px solid #E1E1E1;
    
    padding-top: 1px;
    margin-left: 182px;
}

/* correspond à une ligne des parametres */
.selection_params
{
    font-size: 14px;
    font-weight: regular;
    padding: 0px;
    padding-left: 20px;
}

/* parametre d'alignement */
.alignement_msg
{
    width: 530px;
}

/* ligne de selection des activites, communes, zones */
.select_activites, .select_commune, .select_zone
{
    float: right;
    margin-left: 50px;
    height: 20px;
    width: 100px;
}

/* checkbox toutes les activites */
#toutes_activites
{
    height: 16px;
    width: 16px;
    margin-left: 20px;
}

/* checkbox toutes les communes */
#toutes_communes
{
    height: 16px;
    width: 16px;
}

/* checkbox toutes les zones */
#toutes_zones
{
    height: 16px;
    width: 16px;
    margin-left: 35px;
}

/* checkbox envoi par mail */
#envoi_mail
{
    height: 15px;
    width: 15px;
    margin-left: 40px;
}

/* #envoi_sms
{
    margin-left: 15px;
} */

/* affichage destinataires concernés */
#total_destinataires
{
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
}